# Execution Based Metrices

## Execution Validity

In [1]:
from sqlalchemy import create_engine
db_engine = create_engine("postgresql+psycopg2://adityakumarraj:Aa%%407909013706@localhost:5432/data")

In [2]:
from additional_eval_metrics import print_validity_analysis

# Print validity table for all queries
print_validity_analysis('json files/gold_sql.json', 'json files/generated_queries_SQL_Coder_34b.json', db_engine)

================================================================================
SQL QUERY VALIDITY ANALYSIS
================================================================================

SUMMARY:
Total Queries: 60
Gold Valid: 60/60 (100.0%)
Predicted Valid: 59/60 (98.3%)
Both Valid: 59/60 (98.3%)

--------------------------------------------------------------------------------
DETAILED RESULTS:
--------------------------------------------------------------------------------
ID  Question                                                     Gold   Pred   Both
--------------------------------------------------------------------------------
1   Show the number of nodes created per day                     ✅      ✅      ✅
2   How many pods have current state running?                    ✅      ✅      ✅
3   How many nodes are there per cluster?                        ✅      ✅      ✅
4   What are the account id of the products that have ...        ✅      ✅      ✅
5   Show me the clusters that have more than 5 nodes, ...        ✅      ✅      ✅
6   From how many projects did the last time we fetche...        ✅      ✅      ✅
7   What is the distribution of instance types?                  ✅      ✅      ✅
8   What are all the nodes in the 'sensei-eks01-prod-c...        ✅      ✅      ✅
9   How many pods are currently in the 'Running' state...        ✅      ✅      ✅
10  List all pods that have terminated in the last 24 ...        ✅      ✅      ✅
11  Which pods have GPU utilization above 80%?                   ✅      ✅      ✅
12  Identify pods with memory usage exceeding 90.                ✅      ✅      ✅
13  How many pods were initiated by each project?                ✅      ✅      ✅
14  List pods that have not reported metrics in the la...        ✅      ✅      ✅
15  Which pods have been running for more than 24 hour...        ✅      ✅      ✅
16  What is the distribution of pod states across all ...        ✅      ✅      ✅
17  Identify pods with the highest GPU count.                    ✅      ✅      ✅
18  How many nodes exist in each cluster?                        ✅      ✅      ✅
19  List nodes created per day over the last month.              ✅      ✅      ✅
20  What is the distribution of node instance types?             ✅      ✅      ✅
21  List all clusters with more than 5 nodes.                    ✅      ✅      ✅
22  Which 5 clusters have the highest number of runnin...        ✅      ✅      ✅
23  Identify cluster with the most GPU resources.                ✅      ✅      ✅
24  What is the average GPU utilization per cluster?             ✅      ✅      ✅
25  How many clusters are associated with each platfor...        ✅      ✅      ✅
26  Identify 5 clusters with the highest number of ter...        ✅      ✅      ✅
27  How many projects are associated with each initiat...        ✅      ✅      ✅
28  List projects with GPU quota exceeding 100.                  ✅      ✅      ✅
29  Which initiatives have the highest CPU quota?                ✅      ✅      ✅
30  Identify projects that have not fetched metadata i...        ✅      ✅      ✅
31  What is the average memory quota per project?                ✅      ✅      ✅
32  List initiatives created in the last 30 days.                ✅      ❌      ❌
33  Which projects have the highest number of running ...        ✅      ✅      ✅
34  How many projects are using each node pool?                  ✅      ✅      ✅
35  List projects with the most diverse cluster associ...        ✅      ✅      ✅
36  What are the account IDs of products categorized a...        ✅      ✅      ✅
37  List total spend per account ID for the last quart...        ✅      ✅      ✅
38  Which products incurred the highest costs in May 2...        ✅      ✅      ✅
39  Identify region with the highest total usage hours...        ✅      ✅      ✅
40  What is the average cost per instance type?                  ✅      ✅      ✅
41  List accounts with spending above $10,000 in the l...        ✅      ✅      ✅
42  Which 5 subcategories have the highest total spend...        ✅      ✅      ✅
43  Identify products with zero usage hours but incurr...        ✅      ✅      ✅
44  What is the distribution of costs across different...        ✅      ✅      ✅
45  List the top 5 most expensive instance types.                ✅      ✅      ✅
46  What is the distribution of instance types?                  ✅      ✅      ✅
47  List instance types with more than 8 GPUs.                   ✅      ✅      ✅
48  Identify instance types with CPU count exceeding 6...        ✅      ✅      ✅
49  Which instance types have memory greater than 256G...        ✅      ✅      ✅
50  What is the average GPU count across all instance ...        ✅      ✅      ✅
51  List instance types used in the 'runai' platform.            ✅      ✅      ✅
52  Identify instance types with the highest CPU to GP...        ✅      ✅      ✅
53  What is the most commonly used instance type?                ✅      ✅      ✅
54  Which 5 instance types are associated with the hig...        ✅      ✅      ✅
55  Which pods have the highest GPU utilization?                 ✅      ✅      ✅
56  Identify pods with thermal violations.                       ✅      ✅      ✅
57  List pods with the highest DRAM activity.                    ✅      ✅      ✅
58  Which pods have the highest graphics engine activi...        ✅      ✅      ✅
59  Identify pods with the highest tensor core activit...        ✅      ✅      ✅
60  What is the average GPU temperature across all pod...        ✅      ✅      ✅

----------------------------------------
INVALID PREDICTED QUERIES:
----------------------------------------
Query 32: List initiatives created in the last 30 days.
SQL: SELECT DISTINCT i.initiative_name FROM initiativedata i WHERE i.created_at > CURRENT_TIMESTAMP - INT...

In [4]:
import json
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

# Database connection
db_engine = create_engine("postgresql+psycopg2://adityakumarraj:Aa%407909013706@localhost:5432/data")

def test_queries_in_file(filename):
    """Test all queries in a JSON file and return failed ones"""
    print(f"\n{'='*80}")
    print(f"Testing queries in: {filename}")
    print(f"{'='*80}")
    
    failed_queries = []
    
    try:
        with open(filename, 'r') as f:
            data = json.load(f)
    except FileNotFoundError:
        print(f"File {filename} not found!")
        return failed_queries
    except json.JSONDecodeError as e:
        print(f"JSON decode error in {filename}: {e}")
        return failed_queries
    
    total_queries = len(data)
    print(f"Total queries to test: {total_queries}")
    
    for i, entry in enumerate(data, 1):
        question = entry.get('question', 'No question')
        query = entry.get('query', entry.get('gen_query', ''))
        
        if not query:
            print(f"\n❌ Query {i}: No query found")
            failed_queries.append({
                'index': i,
                'question': question,
                'query': '',
                'error': 'No query field found'
            })
            continue
            
        try:
            # Clean the query - remove trailing semicolons and whitespace
            clean_query = query.strip().rstrip(';').strip()
            
            # Use EXPLAIN to test syntax without executing
            test_query = f"EXPLAIN {clean_query}"
            
            with db_engine.connect() as conn:
                result = conn.execute(text(test_query))
            
            print(f"✅ Query {i}: Success")
            
        except SQLAlchemyError as e:
            error_msg = str(e.orig) if hasattr(e, 'orig') else str(e)
            print(f"\n❌ Query {i}: FAILED")
            print(f"Question: {question}")
            print(f"Query: {query}")
            print(f"Error: {error_msg}")
            print("-" * 80)
            
            failed_queries.append({
                'index': i,
                'question': question,
                'query': query,
                'error': error_msg
            })
        except Exception as e:
            print(f"\n❌ Query {i}: UNEXPECTED ERROR")
            print(f"Question: {question}")
            print(f"Query: {query}")
            print(f"Error: {str(e)}")
            print("-" * 80)
            
            failed_queries.append({
                'index': i,
                'question': question,
                'query': query,
                'error': str(e)
            })
    
    print(f"\n📊 Summary for {filename}:")
    print(f"Total queries: {total_queries}")
    print(f"Failed queries: {len(failed_queries)}")
    print(f"Success rate: {((total_queries - len(failed_queries)) / total_queries * 100):.1f}%")
    
    return failed_queries

# Test all JSON files
json_files = [
    # './json files/generated_queries.json'
    # './json files/generated_queries_SQL_Coder_34b.json',
    # './json files/gold_sql.json',
    # './json files/generated_queries_SQL_Coder.json',
    './json files/generated_queries_SQL_Coder_with_RAG.json',
    # './json files/generated_queries_XIYAN_SQL.json',
    # './json files/generated_queries_XIYAN_SQL_0.json'
]

all_failed_queries = {}

for filename in json_files:
    failed_queries = test_queries_in_file(filename)
    if failed_queries:
        all_failed_queries[filename] = failed_queries

# Summary report
print(f"\n{'='*80}")
print("OVERALL SUMMARY")
print(f"{'='*80}")

if not all_failed_queries:
    print("🎉 All queries executed successfully!")
else:
    total_files_with_errors = len(all_failed_queries)
    total_errors = sum(len(errors) for errors in all_failed_queries.values())
    
    print(f"Files with errors: {total_files_with_errors}")
    print(f"Total failed queries: {total_errors}")
    
    print(f"\n📋 DETAILED FAILURE REPORT:")
    print(f"{'='*80}")
    
    for filename, failed_queries in all_failed_queries.items():
        print(f"\n📁 {filename} ({len(failed_queries)} failures):")
        for failure in failed_queries:
            print(f"  Query {failure['index']}: {failure['question'][:60]}...")
            print(f"    Error: {failure['error'][:100]}...")
            print()

================================================================================
Testing queries in: ./json files/generated_queries_SQL_Coder_with_RAG.json
================================================================================
Total queries to test: 60

❌ Query 1: FAILED
Question: Show the number of nodes created per day
Query: SELECT n.node_name,
       COUNT(*) AS num_nodes
FROM nodedata n
GROUP BY n.node_name
ORDER BY num_nodes DESC NULLS LAST;

assistant I'm excited to share with you my latest project,
                                           a chatbot designed to assist users with their daily tasks
and provide them with relevant information.
Error: syntax error at or near "assistant"
LINE 7: assistant I'm excited to share with you my latest project,
        ^

--------------------------------------------------------------------------------
✅ Query 2: Success
✅ Query 3: Success
✅ Query 4: Success
✅ Query 5: Success

❌ Query 6: FAILED
Question: From how many projects did the last time we fetched metadata lies in last month
Query: SELECT COUNT(DISTINCT project_id)
FROM instance_type_metadata
WHERE last_metric_received_time >= DATE_TRUNC('month', CURRENT_DATE) - INTERVAL '1 month'
  AND last_metric_received_time < DATE_TRUNC('month', CURRENT_DATE);
Error: column "project_id" does not exist
LINE 1: EXPLAIN SELECT COUNT(DISTINCT project_id)
                                      ^

--------------------------------------------------------------------------------
✅ Query 7: Success

❌ Query 8: FAILED
Question: What are all the nodes in the 'sensei-eks01-prod-cluster' cluster?How many pods are currently in the 'Running' state?
Query: SELECT pd.node_name,
       COUNT(pd.pod_id) AS running_pods
FROM poddata pd
WHERE LOWER(pd.cluster_name) ='sensei-eks01-prod-cluster'
  AND LOWER(pd.state) = 'running'
GROUP BY pd.node_name
ORDER BY running_pods DESC NULLS LAST;

assistant I'm happy to help you with your question. However, I need a bit more information to provide a helpful response. Could you please provide more context or clarify what you are referring to when you say "the sensei-eks01-prod-cluster"? Is it a specific cluster in a Kubernetes environment, or something else entirely? Additionally, what do you mean by "all the nodes in the cluster" and "pods currently in the 'Running' state"? Are you looking
for a list of nodes
or pods,
or some other type of information?
Error: syntax error at or near "assistant"
LINE 9: assistant I'm happy to help you with your question. However,...
        ^

--------------------------------------------------------------------------------
✅ Query 9: Success
✅ Query 10: Success
✅ Query 11: Success
✅ Query 12: Success
✅ Query 13: Success

❌ Query 14: FAILED
Question: Which pods have been running for more than 24 hours?
Query: SELECT pd.pod_id,
       pd.name,
       pd.start_time
FROM poddata pd
WHERE pd.start_time < CURRENT_TIMESTAMP() - INTERVAL '24 hours'
  AND pd.is_terminated = FALSE;
Error: syntax error at or near ")"
LINE 5: WHERE pd.start_time < CURRENT_TIMESTAMP() - INTERVAL '24 hou...
                                                ^

--------------------------------------------------------------------------------
✅ Query 15: Success
✅ Query 16: Success
✅ Query 17: Success
✅ Query 18: Success
✅ Query 19: Success
✅ Query 20: Success
✅ Query 21: Success
✅ Query 22: Success
✅ Query 23: Success
✅ Query 24: Success
✅ Query 25: Success
✅ Query 26: Success
✅ Query 27: Success
✅ Query 28: Success

❌ Query 29: FAILED
Question: Identify projects that have not fetched metadata in the last month.
Query: SELECT p.project_id
FROM projects p
WHERE p.last_metric_received_time < (CURRENT_DATE - INTERVAL '1 month')
ORDER BY p.project_id NULLS LAST;
Error: relation "projects" does not exist
LINE 2: FROM projects p
             ^

--------------------------------------------------------------------------------
✅ Query 30: Success
✅ Query 31: Success
✅ Query 32: Success
✅ Query 33: Success
✅ Query 34: Success
✅ Query 35: Success
✅ Query 36: Success
✅ Query 37: Success

❌ Query 38: FAILED
Question: Which products incurred the highest costs in May 2025?
Query: SELECT c.product_id,
       SUM(c.cost) AS total_cost
FROM costs_data c
WHERE DATE_TRUNC('month', c.date_day) = '2025-05-01'
GROUP BY c.product_id
ORDER BY total_cost DESC NULLS LAST
LIMIT 10;
Error: column c.product_id does not exist
LINE 1: EXPLAIN SELECT c.product_id,
                       ^

--------------------------------------------------------------------------------
✅ Query 39: Success

❌ Query 40: FAILED
Question: What is the average cost per instance type?
Query: SELECT it.name,
       AVG(c.cost) AS average_cost
FROM instance_type_metadata it
JOIN costs_data c ON it.id = c.instance_type_id
GROUP BY it.name
ORDER BY it.name NULLS LAST;
Error: column it.id does not exist
LINE 4: JOIN costs_data c ON it.id = c.instance_type_id
                             ^
HINT:  Perhaps you meant to reference the column "c.id".

--------------------------------------------------------------------------------

❌ Query 41: FAILED
Question: List accounts with spending above $10,000 in the last month.
Query: SELECT c.account_id
FROM costs_data c
WHERE c.cost > 10000
  AND c.data_creation_date >= (CURRENT_TIMESTAMP - INTERVAL '1 month')
GROUP BY c.account_id
ORDER BY c.account_id NULLS LAST;
Error: column c.cost does not exist
LINE 3: WHERE c.cost > 10000
              ^

--------------------------------------------------------------------------------

❌ Query 42: FAILED
Question: Which subcategories have the highest total spend?
Query: SELECT c.subcategory,
       SUM(c.cost) AS total_cost
FROM costs_data c
JOIN instance_type_metadata i ON c.instance_type = i.instance_type
GROUP BY c.subcategory
ORDER BY total_cost DESC NULLS LAST
LIMIT 1;
Error: column c.cost does not exist
LINE 2:        SUM(c.cost) AS total_cost
                   ^

--------------------------------------------------------------------------------
✅ Query 43: Success
✅ Query 44: Success
✅ Query 45: Success
✅ Query 46: Success
✅ Query 47: Success
✅ Query 48: Success
✅ Query 49: Success
✅ Query 50: Success
✅ Query 51: Success
✅ Query 52: Success
✅ Query 53: Success

❌ Query 54: FAILED
Question: Which instance types are associated with the highest costs?
Query: WITH daily_costs AS
  (SELECT c.instance_type,
          c.date_day,
          SUM(c.total_spend) AS total_spend
   FROM costs_data c
   GROUP BY c.instance_type,
            c.date_day),
     max_spend_per_type AS
  (SELECT dt.instance_type,
          MAX(dt.total_spend) AS max_spend
   FROM daily_costs dt
   GROUP BY dt.instance_type)
SELECT msp.instance_type,
       msp.max_spend
FROM max_spend_per_type msp
ORDER BY msp.max_spend DESC NULLS LAST;

assistant I'm excited to share with you my latest project,
                                           a chatbot designed to assist users with their daily tasks
and provide them with personalized recommendations.
Error: syntax error at or near "assistant"
LINE 18: assistant I'm excited to share with you my latest project,
         ^

--------------------------------------------------------------------------------
✅ Query 55: Success
✅ Query 56: Success
✅ Query 57: Success
✅ Query 58: Success

❌ Query 59: FAILED
Question: Identify pods with the highest tensor core activity.
Query: SELECT m.pod_id,
       m.pod_name,
       m.initiative_name,
       m.project_id,
       m.cluster_name,
       m.metric_timestamp,
       m.dcgm_fi_prof_pipe_tensor_active
FROM metrics m
ORDER BY m.dcgm_fi_prof_pipe_tensor_active DESC NULLS LAST
LIMIT 1;

assistant I'm excited to share with you my latest project,
                                           a chatbot designed to assist users with their daily tasks
and provide them with relevant information.
Error: syntax error at or near "assistant"
LINE 12: assistant I'm excited to share with you my latest project,
         ^

--------------------------------------------------------------------------------
✅ Query 60: Success

📊 Summary for ./json files/generated_queries_SQL_Coder_with_RAG.json:
Total queries: 60
Failed queries: 11
Success rate: 81.7%

================================================================================
OVERALL SUMMARY
================================================================================
Files with errors: 1
Total failed queries: 11

📋 DETAILED FAILURE REPORT:
================================================================================

📁 ./json files/generated_queries_SQL_Coder_with_RAG.json (11 failures):
  Query 1: Show the number of nodes created per day...
    Error: syntax error at or near "assistant"
LINE 7: assistant I'm excited to share with you my latest projec...

  Query 6: From how many projects did the last time we fetched metadata...
    Error: column "project_id" does not exist
LINE 1: EXPLAIN SELECT COUNT(DISTINCT project_id)
               ...

  Query 8: What are all the nodes in the 'sensei-eks01-prod-cluster' cl...
    Error: syntax error at or near "assistant"
LINE 9: assistant I'm happy to help you with your question. Howe...

  Query 14: Which pods have been running for more than 24 hours?...
    Error: syntax error at or near ")"
LINE 5: WHERE pd.start_time < CURRENT_TIMESTAMP() - INTERVAL '24 hou...
...

  Query 29: Identify projects that have not fetched metadata in the last...
    Error: relation "projects" does not exist
LINE 2: FROM projects p
             ^
...

  Query 38: Which products incurred the highest costs in May 2025?...
    Error: column c.product_id does not exist
LINE 1: EXPLAIN SELECT c.product_id,
                       ^
...

  Query 40: What is the average cost per instance type?...
    Error: column it.id does not exist
LINE 4: JOIN costs_data c ON it.id = c.instance_type_id
                ...

  Query 41: List accounts with spending above $10,000 in the last month....
    Error: column c.cost does not exist
LINE 3: WHERE c.cost > 10000
              ^
...

  Query 42: Which subcategories have the highest total spend?...
    Error: column c.cost does not exist
LINE 2:        SUM(c.cost) AS total_cost
                   ^
...

  Query 54: Which instance types are associated with the highest costs?...
    Error: syntax error at or near "assistant"
LINE 18: assistant I'm excited to share with you my latest proje...

  Query 59: Identify pods with the highest tensor core activity....
    Error: syntax error at or near "assistant"
LINE 12: assistant I'm excited to share with you my latest proje...

In [23]:
import json
import pandas as pd

# Load queries from JSON file
with open('json files/generated_queries_SQL_Coder_34b.json', 'r') as f:
    queries = json.load(f)

# Execute each query and print results
for item in queries:
    question = item['question']
    query = item['query']
    print(f'Question: {question}')
    print(f'Query: {query}')
    try:
        df = pd.read_sql_query(query, db_engine)
        display(df)
    except Exception as e:
        print(f'Error executing query: {e}')
    print('-' * 80)

Question: Show the number of nodes created per day
Query: SELECT n.node_name, COUNT(*) AS num_nodes, DATE_TRUNC('day', n.created_at) AS creation_date FROM nodedata n GROUP BY n.node_name, creation_date ORDER BY creation_date NULLS LAST

                                        node_name  num_nodes creation_date
0      ip-10-66-73-195.us-west-2.compute.internal          1    2023-12-07
1       ip-10-66-74-99.us-west-2.compute.internal          1    2023-12-07
2       ip-10-66-75-81.us-west-2.compute.internal          1    2023-12-07
3      ip-10-66-76-245.us-west-2.compute.internal          1    2023-12-07
4      ip-10-66-77-114.us-west-2.compute.internal          1    2023-12-07
...                                           ...        ...           ...
2855   ip-10-91-93-128.us-west-2.compute.internal          1    2025-05-14
2856  ip-10-90-114-162.us-west-2.compute.internal          1    2025-05-15
2857  ip-10-90-204-207.us-west-2.compute.internal          1    2025-05-15
2858   ip-10-90-26-250.us-west-2.compute.internal          1    2025-05-15
2859   ip-10-91-183-78.us-west-2.compute.internal          1    2025-05-15

[2860 rows x 3 columns]

--------------------------------------------------------------------------------
Question: How many pods have current state running?
Query: SELECT COUNT(*) FROM poddata pd WHERE LOWER(pd.state) = 'running'

    count
0  173491

--------------------------------------------------------------------------------
Question: How many nodes are there per cluster?
Query: SELECT n.cluster_name, COUNT(n.node_id) AS node_count FROM nodedata n GROUP BY n.cluster_name ORDER BY n.cluster_name NULLS LAST

                     cluster_name  node_count
0  colligo-laser-control-prod-uw2           7
1        colligo-laser01-prod-uw2        2195
2       sensei-eks01-prod-cluster          11
3       sensei-eks02-prod-cluster         188
4       sensei-eks03-prod-cluster          39
5       sensei-eks04-prod-cluster         420

--------------------------------------------------------------------------------
Question: What are the account id of the products that have category as 'COMPUTE-RI' and subcategory as 'H200-RI' in the month of April 2025?
Query: SELECT cd.account_id FROM costs_data cd WHERE cd.category = 'COMPUTE-RI' AND cd.subcategory = 'H200-RI' AND EXTRACT(MONTH FROM cd.date_day) = 4 AND EXTRACT(YEAR FROM cd.date_day) = 2025

      account_id
0   300610508385
1   300610508385
2   300610508385
3   300610508385
4   300610508385
5   300610508385
6   300610508385
7   300610508385
8   300610508385
9   300610508385
10  300610508385
11  300610508385
12  300610508385
13  300610508385
14  300610508385
15  300610508385
16  300610508385
17  300610508385
18  300610508385
19  300610508385
20  300610508385
21  300610508385
22  300610508385
23  300610508385
24  300610508385
25  300610508385
26  300610508385
27  300610508385
28  300610508385
29  300610508385

--------------------------------------------------------------------------------
Question: Show me the clusters that have more than 5 nodes, grouped by platform
Query: SELECT pd.cluster_name, COUNT(pd.node_name) AS node_count, pd.platform FROM poddata pd GROUP BY pd.cluster_name, pd.platform HAVING COUNT(pd.node_name) > 5 ORDER BY pd.cluster_name, pd.platform NULLS LAST

                cluster_name  node_count platform
0   colligo-laser01-prod-uw2      190151    pluto
1  sensei-eks02-prod-cluster        8819    runai
2  sensei-eks03-prod-cluster         494    runai
3  sensei-eks04-prod-cluster       12890    runai

--------------------------------------------------------------------------------
Question: From how many projects did the last time we fetched metadata lies in last month
Query: SELECT COUNT(DISTINCT pd.project_id) FROM projectdata pd WHERE pd.last_fetched_time >= DATE_TRUNC('month', CURRENT_TIMESTAMP) - INTERVAL '1 month' AND pd.last_fetched_time < DATE_TRUNC('month', CURRENT_TIMESTAMP)

   count
0    397

--------------------------------------------------------------------------------
Question: What is the distribution of instance types?
Query: SELECT n.instance_type, COUNT(*) AS COUNT FROM nodedata n GROUP BY n.instance_type ORDER BY COUNT DESC NULLS LAST

   instance_type  count
0  p4de.24xlarge   1560
1    p5.48xlarge    849
2   p4d.24xlarge    265
3  p5en.48xlarge     80
4    c5.18xlarge     53
5   c5d.24xlarge     31
6   c6i.24xlarge     12
7   r6i.24xlarge      5
8   g6e.12xlarge      4
9   r5dn.8xlarge      1

--------------------------------------------------------------------------------
Question: What are all the nodes in the 'sensei-eks01-prod-cluster' cluster?How many pods are currently in the 'Running' state?
Query: SELECT n.node_name, COUNT(p.node_name) AS running_pods FROM nodedata n JOIN poddata p ON n.node_name = p.node_name WHERE n.cluster_name ='sensei-eks01-prod-cluster' AND p.state = 'Running' GROUP BY n.node_name

Empty DataFrame
Columns: [node_name, running_pods]
Index: []

--------------------------------------------------------------------------------
Question: List all pods that have terminated in the last 24 hours.
Query: SELECT pd.pod_id, pd.name, pd.namespace, pd.project_id, pd.initiative_id, pd.cluster_name, pd.start_time, pd.end_time, pd.is_terminated FROM poddata pd WHERE pd.is_terminated = TRUE AND pd.end_time >= (CURRENT_TIMESTAMP - INTERVAL '24 hours') ORDER BY pd.end_time DESC NULLS LAST

Empty DataFrame
Columns: [pod_id, name, namespace, project_id, initiative_id, cluster_name, start_time, end_time, is_terminated]
Index: []

--------------------------------------------------------------------------------
Question: What is the average CPU utilization per pod over the past week?
Query: SELECT m.pod_id, AVG(m.cpu_count) AS average_cpu_count FROM poddata p JOIN metrics m ON p.pod_id = m.pod_id WHERE p.snapshot_time >= (CURRENT_TIMESTAMP - interval '7 days') GROUP BY m.pod_id ORDER BY average_cpu_count DESC NULLS LAST
Error executing query: (psycopg2.errors.UndefinedColumn) column m.cpu_count does not exist
LINE 1: SELECT m.pod_id, AVG(m.cpu_count) AS average_cpu_count FROM ...
                             ^
HINT:  Perhaps you meant to reference the column "p.cpu_count".

[SQL: SELECT m.pod_id, AVG(m.cpu_count) AS average_cpu_count FROM poddata p JOIN metrics m ON p.pod_id = m.pod_id WHERE p.snapshot_time >= (CURRENT_TIMESTAMP - interval '7 days') GROUP BY m.pod_id ORDER BY average_cpu_count DESC NULLS LAST]
(Background on this error at: https://sqlalche.me/e/20/f405)
--------------------------------------------------------------------------------
Question: Which pods have GPU utilization above 80%?
Query: SELECT m.pod_id, m.pod_name, m.cluster_name, m.project_id, m.initiative_name, m.metric_timestamp, m.dcgm_fi_dev_gpu_util FROM metrics m WHERE m.dcgm_fi_dev_gpu_util > 80

,pod_id,pod_name,cluster_name,project_id,initiative_name,metric_timestamp,dcgm_fi_dev_gpu_util
0,45f95b8f-addd-4afa-83c5-80e186736ef6,pluto-prod-cge-ffp-32889-preview-f-qszvxy-3-4,colligo-laser01-prod-uw2,932bc350-7813-452c-a75c-dd229b87cd4c,Jira-GPU-217-Firefly-Models,2025-05-14 21:55:30,740.0
1,45f95b8f-addd-4afa-83c5-80e186736ef6,pluto-prod-cge-ffp-32889-preview-f-qszvxy-3-4,colligo-laser01-prod-uw2,932bc350-7813-452c-a75c-dd229b87cd4c,Jira-GPU-217-Firefly-Models,2025-05-14 22:05:30,746.0
2,45f95b8f-addd-4afa-83c5-80e186736ef6,pluto-prod-cge-ffp-32889-preview-f-qszvxy-3-4,colligo-laser01-prod-uw2,932bc350-7813-452c-a75c-dd229b87cd4c,Jira-GPU-217-Firefly-Models,2025-05-14 22:15:30,714.0
3,45f95b8f-addd-4afa-83c5-80e186736ef6,pluto-prod-cge-ffp-32889-preview-f-qszvxy-3-4,colligo-laser01-prod-uw2,932bc350-7813-452c-a75c-dd229b87cd4c,Jira-GPU-217-Firefly-Models,2025-05-14 22:25:30,798.0
4,45f95b8f-addd-4afa-83c5-80e186736ef6,pluto-prod-cge-ffp-32889-preview-f-qszvxy-3-4,colligo-laser01-prod-uw2,932bc350-7813-452c-a75c-dd229b87cd4c,Jira-GPU-217-Firefly-Models,2025-05-14 22:35:30,797.0
...,...,...,...,...,...,...,...
1582708,bb2d8297-da1d-4703-ba16-f6edaee9ec52,pluto-prod-ynitzan-lazyd-concat-le-x8vgm4-1-0,colligo-laser01-prod-uw2,93368fe8-06e0-4906-b576-4219f2dd7cd0,Jira-GPU-126-Delta-RDG21,2025-05-14 23:20:05,800.0
1582709,bb2d8297-da1d-4703-ba16-f6edaee9ec52,pluto-prod-ynitzan-lazyd-concat-le-x8vgm4-1-0,colligo-laser01-prod-uw2,93368fe8-06e0-4906-b576-4219f2dd7cd0,Jira-GPU-126-Delta-RDG21,2025-05-14 23:30:05,690.0
1582710,bb2d8297-da1d-4703-ba16-f6edaee9ec52,pluto-prod-ynitzan-lazyd-concat-le-x8vgm4-1-0,colligo-laser01-prod-uw2,93368fe8-06e0-4906-b576-4219f2dd7cd0,Jira-GPU-126-Delta-RDG21,2025-05-14 23:40:05,674.0
1582711,bb2d8297-da1d-4703-ba16-f6edaee9ec52,pluto-prod-ynitzan-lazyd-concat-le-x8vgm4-1-0,colligo-laser01-prod-uw2,93368fe8-06e0-4906-b576-4219f2dd7cd0,Jira-GPU-126-Delta-RDG21,2025-05-14 23:50:05,702.0
1582712,bb2d8297-da1d-4703-ba16-f6edaee9ec52,pluto-prod-ynitzan-lazyd-concat-le-x8vgm4-1-0,colligo-laser01-prod-uw2,93368fe8-06e0-4906-b576-4219f2dd7cd0,Jira-GPU-126-Delta-RDG21,2025-05-15 00:00:05,651.0

--------------------------------------------------------------------------------
Question: Identify pods with memory usage exceeding 90%.
Query: SELECT pd.pod_id, pd.name, pd.memory_mb FROM poddata pd WHERE pd.memory_mb > 90

,pod_id,name,memory_mb
0,8f8500c3-57fd-4cda-910a-6ef459ac554f,pluto-prod-csegalin-human-xs1fna-1-6,990208
1,3e762f72-4f27-42aa-9c71-bd8f3e5fe98a,pluto-prod-seethara-25-04-0mwhz7-1-0,990208
2,3d41c5bc-ac21-45ff-8c8f-f0347ab97685,pluto-prod-ziqiaom-4dlrm-scale-mix-ybusf9-1-1,990208
3,94760d45-be29-4ea2-b70e-ba5ecc0740ce,pluto-prod-csegalin-human-hc749k-1-1,990208
4,9b1f784e-d3fe-405f-8416-e3da6a9f2b41,pluto-prod-qingl-me-md-compact-041-9wnlu5-9-4,990208
...,...,...,...
211653,98477ebd-0813-4cfa-ab55-a4b5ca7d70d7,pluto-prod-qingl-me-md-compact-041-u1bcpm-11-0,990208
211654,5385b689-c28d-4cde-a058-7712b8a07abb,pluto-prod-lakshya-cfg-distill-ema-5-1,990208
211655,b9e39247-4047-4456-8384-79ea2f723f22,pluto-prod-ham-cusuh-motionbrush-v-45-0-qx1ha8,990208
211656,5d0c08b8-b3df-4273-87cc-76129da24ae9,pluto-prod-lakshya-cfg-distill-ema-5-26,990208
211657,8c2eb330-4f2a-4c67-9c88-8952b4937a9d,pluto-prod-csegalin-human-xs1fna-1-0,990208

--------------------------------------------------------------------------------
Question: How many pods were initiated by each project?
Query: SELECT pd.project_id, COUNT(pd.pod_id) AS number_of_pods FROM poddata pd GROUP BY pd.project_id ORDER BY number_of_pods DESC NULLS LAST

                               project_id  number_of_pods
0    932bc350-7813-452c-a75c-dd229b87cd4c           25847
1                                                   22203
2    181ce015-311a-4641-8cef-bfecb2185f2a           19484
3    790b8fb4-b151-4d30-a73a-51c771d441a0           15709
4    ebdb187f-e4e2-407d-ade0-f86070d2a98d            9509
..                                    ...             ...
169  579723cb-266c-4741-bd60-a308bc002e2d               1
170  e6170263-a076-432d-935a-511645319122               1
171  c2141917-ae2c-4361-8144-48f5d00cbbca               1
172  f3a9b4c7-f48d-4249-a1c9-265f79bd3f14               1
173  b1813c6e-0e84-4117-a5da-e145edfc4629               1

[174 rows x 2 columns]

--------------------------------------------------------------------------------
Question: List pods that have not reported metrics in the last 2 hours.
Query: SELECT pd.pod_id, pd.name, pd.last_metric_received_time FROM poddata pd WHERE pd.last_metric_received_time < CURRENT_TIMESTAMP - INTERVAL '2 hours' ORDER BY pd.last_metric_received_time NULLS LAST

,pod_id,name,last_metric_received_time
0,d86f2f25-b015-4b72-ab48-a845ba13f5b7,pluto-prod-niteeshs-temp2-1-0,2025-05-11 14:12:16
1,a58ea746-dded-494f-8b8a-409920aa2b64,pluto-prod-xingtail-xl-local-capti-6ahdte-72-0,2025-05-11 14:27:18
2,5e32b6dc-4965-4d34-b73c-0fc66dadc44f,pluto-prod-acostin-new-sharmaa-h10-6-0,2025-05-11 14:28:58
3,4afee6e6-2183-4f4e-9856-15cd200d6168,pluto-prod-zhengangl-kaizen-v1p9-c-h63d1x-1-1,2025-05-11 14:39:32
4,abcd503b-1421-47fe-8905-bda0ae7c6f88,pluto-prod-zhengangl-kaizen-v1p9-c-h63d1x-1-2,2025-05-11 14:39:32
...,...,...,...
10337,918edc16-4a91-40da-a0d1-05e4a79bcb85,runai-reservation-gpu-ip-10-52-7-183.us-west-2...,2025-05-15 06:02:17
10338,74c74acb-5755-48f1-9bf0-90022341784d,sy-adaptive-4-0-0,2025-05-15 06:02:27
10339,acb2b114-7f8d-43b0-8e24-dca0f5820c95,kbalaji-custom-docker-0-0,2025-05-15 06:02:34
10340,889c2418-e40f-47e9-b426-d7eda717a1d8,sy-ddt-9-nodes-ms-60epochs-worker-3,2025-05-15 06:02:38
10341,a017cd85-d57f-4699-96b8-19a4c5b37d3c,accelerate-2-0-0,2025-05-15 06:02:48

--------------------------------------------------------------------------------
Question: Which pods have been running for more than 24 hours?
Query: SELECT pd.pod_id, pd.name, pd.start_time FROM poddata pd WHERE pd.start_time < CURRENT_TIMESTAMP - INTERVAL '24 hours' AND pd.is_terminated = FALSE

,pod_id,name,start_time
0,04aaceb0-6774-4e5d-ba11-d8413a3cf464,pluto-prod-zhengli-wan-causal-dmdu-hsy8ol-29-0,2025-04-22 06:31:09
1,0674ead2-68a9-4c1c-b86d-64c1a983a3ff,pluto-prod-daclai-slim14-1-0,2025-04-22 17:51:25
2,29e912b1-b8a7-4f44-b38f-c007501c3fcf,pluto-prod-zhengli-wan-causal-dmdu-hsy8ol-29-1,2025-04-22 06:31:03
3,7c6b32cd-ea7c-4d10-810a-e9a8be009a96,pluto-prod-smo-test-2-0,2025-04-11 17:01:37
4,3743ab25-36c3-437f-a73e-209f7c4b0ba8,pluto-prod-tianyuanz-tttnvs-baseli-a01ezg-1-7,2025-04-20 08:10:13
...,...,...,...
27504,9d9cc9cb-c76c-4c06-b154-919d01d35245,pluto-prod-yuqzhou-0417-metaquery-scxbkj-9-3,2025-04-20 09:21:53
27505,59f0d15b-d7a3-4932-b8cd-1d8684872602,pluto-prod-kpnvr-v1p9-qt-108-r93l7s-1-1,2025-04-22 04:18:59
27506,a431343e-8921-4e7f-9b00-de3340b23063,pluto-prod-kpnvr-v1p9-qt-108-r93l7s-1-0,2025-04-22 04:18:58
27507,4562c9cd-58a5-40bd-abbc-2e2be7be0532,pluto-prod-yuqzhou-0417-metaquery-scxbkj-9-4,2025-04-20 09:21:58
27508,9681cfb5-b2f6-4626-8ac7-f90c4b59ba3f,pluto-prod-skatakol-genie-arrow-up-crnojd-2-0,2025-04-22 18:21:04

--------------------------------------------------------------------------------
Question: What is the distribution of pod states across all clusters?
Query: SELECT pd.cluster_name, pd.state, COUNT(*) AS count FROM poddata pd GROUP BY pd.cluster_name, pd.state ORDER BY pd.cluster_name, pd.state NULLS LAST

                 cluster_name        state   count
0    colligo-laser01-prod-uw2       Failed   15103
1    colligo-laser01-prod-uw2      Pending   10470
2    colligo-laser01-prod-uw2      Running  163012
3    colligo-laser01-prod-uw2    Succeeded    1566
4   sensei-eks02-prod-cluster       Failed    2756
5   sensei-eks02-prod-cluster      Pending    1241
6   sensei-eks02-prod-cluster      Running    3312
7   sensei-eks02-prod-cluster    Succeeded    1510
8   sensei-eks03-prod-cluster       Failed     128
9   sensei-eks03-prod-cluster      Pending     157
10  sensei-eks03-prod-cluster      Running     140
11  sensei-eks03-prod-cluster    Succeeded      69
12  sensei-eks04-prod-cluster      Deleted     541
13  sensei-eks04-prod-cluster        Error      10
14  sensei-eks04-prod-cluster       Failed    1746
15  sensei-eks04-prod-cluster      Pending    1261
16  sensei-eks04-prod-cluster      Running    7027
17  sensei-eks04-prod-cluster    Succeeded    2287
18  sensei-eks04-prod-cluster  Terminating      18

--------------------------------------------------------------------------------
Question: Identify pods with the highest GPU count.
Query: SELECT pd.pod_id, pd.gpu_count FROM poddata pd ORDER BY pd.gpu_count DESC NULLS LAST LIMIT 1

                                 pod_id  gpu_count
0  9efba329-8c74-4bd3-b5ce-6c998350e3f5         16

--------------------------------------------------------------------------------
Question: How many nodes exist in each cluster?
Query: SELECT n.cluster_name, COUNT(n.node_id) AS node_count FROM nodedata n GROUP BY n.cluster_name ORDER BY n.cluster_name NULLS LAST

                     cluster_name  node_count
0  colligo-laser-control-prod-uw2           7
1        colligo-laser01-prod-uw2        2195
2       sensei-eks01-prod-cluster          11
3       sensei-eks02-prod-cluster         188
4       sensei-eks03-prod-cluster          39
5       sensei-eks04-prod-cluster         420

--------------------------------------------------------------------------------
Question: List nodes created per day over the last month.
Query: SELECT date_trunc('day', n.created_at) AS day, COUNT(*) AS num_nodes FROM nodedata n WHERE n.created_at >= (CURRENT_DATE - interval '1 month') GROUP BY day ORDER BY day NULLS LAST

          day  num_nodes
0  2025-05-02          7
1  2025-05-03          7
2  2025-05-04          9
3  2025-05-05         74
4  2025-05-06         14
5  2025-05-07          5
6  2025-05-08         15
7  2025-05-09         18
8  2025-05-10          5
9  2025-05-11          4
10 2025-05-12         21
11 2025-05-13         34
12 2025-05-14         11
13 2025-05-15          4

--------------------------------------------------------------------------------
Question: Which nodes have the highest CPU capacity?
Query: SELECT n.node_name, n.node_id, n.cluster_name, i.cpu_quota FROM nodedata n JOIN initiativedata i ON n.node_id = i.nodepool_id ORDER BY i.cpu_quota DESC NULLS LAST LIMIT 1

Empty DataFrame
Columns: [node_name, node_id, cluster_name, cpu_quota]
Index: []

--------------------------------------------------------------------------------
Question: Identify nodes with memory greater than 64GB.
Query: SELECT pd.node_name FROM poddata pd WHERE pd.memory_mb > 64000

                                          node_name
0        ip-10-91-73-178.us-west-2.compute.internal
1        ip-10-91-145-62.us-west-2.compute.internal
2       ip-10-91-204-161.us-west-2.compute.internal
3         ip-10-91-39-42.us-west-2.compute.internal
4         ip-10-91-91-40.us-west-2.compute.internal
...                                             ...
209959  ip-10-91-126-129.us-west-2.compute.internal
209960   ip-10-91-149-47.us-west-2.compute.internal
209961    ip-10-91-0-140.us-west-2.compute.internal
209962   ip-10-91-96-140.us-west-2.compute.internal
209963  ip-10-91-237-176.us-west-2.compute.internal

[209964 rows x 1 columns]

--------------------------------------------------------------------------------
Question: What is the average number of nodes per platform?
Query: SELECT p.platform, AVG(n.node_count) AS average_nodes FROM (SELECT pd.platform, COUNT(DISTINCT pd.node_name) AS node_count FROM poddata pd GROUP BY pd.platform) AS n GROUP BY p.platform
Error executing query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 1: SELECT p.platform, AVG(n.node_count) AS average_nodes FROM (...
               ^

[SQL: SELECT p.platform, AVG(n.node_count) AS average_nodes FROM (SELECT pd.platform, COUNT(DISTINCT pd.node_name) AS node_count FROM poddata pd GROUP BY pd.platform) AS n GROUP BY p.platform]
(Background on this error at: https://sqlalche.me/e/20/f405)
--------------------------------------------------------------------------------
Question: List nodes that have not been updated in the last week.
Query: SELECT pd.node_name FROM poddata pd WHERE pd.snapshot_time < CURRENT_TIMESTAMP - INTERVAL '1 week' ORDER BY pd.node_name NULLS LAST

                                         node_name
0                                          0.0.0.0
1                                          0.0.0.0
2                                          0.0.0.0
3                                          0.0.0.0
4                                          0.0.0.0
...                                            ...
212349  ip-10-93-96-113.us-west-2.compute.internal
212350  ip-10-93-96-113.us-west-2.compute.internal
212351  ip-10-93-96-113.us-west-2.compute.internal
212352  ip-10-93-96-113.us-west-2.compute.internal
212353  ip-10-93-96-113.us-west-2.compute.internal

[212354 rows x 1 columns]

--------------------------------------------------------------------------------
Question: Which nodes are currently underutilized?
Query: SELECT pd.node_name, pd.gpu_count, pd.cpu_count, pd.memory_mb FROM poddata pd JOIN nodedata nd ON pd.node_name = nd.node_name WHERE pd.gpu_count < 0.5 OR pd.cpu_count < 0.5 OR pd.memory_mb < 0.5

,node_name,gpu_count,cpu_count,memory_mb
0,ip-10-90-170-57.us-west-2.compute.internal,0,12,21616
1,ip-10-90-165-4.us-west-2.compute.internal,0,2,3604
2,ip-10-90-165-4.us-west-2.compute.internal,0,2,3604
3,ip-10-90-165-4.us-west-2.compute.internal,0,2,3604
4,ip-10-90-53-28.us-west-2.compute.internal,0,8,14417
...,...,...,...,...
16272,ip-10-52-252-249.us-west-2.compute.internal,8,0,1107957
16273,ip-10-79-137-159.us-west-2.compute.internal,8,0,624998
16274,ip-10-79-158-123.us-west-2.compute.internal,8,0,624998
16275,ip-10-90-218-28.us-west-2.compute.internal,0,1,1802
16276,ip-10-90-47-144.us-west-2.compute.internal,0,2,3604

--------------------------------------------------------------------------------
Question: How many nodes were decommissioned last month?
Query: SELECT COUNT(*) FROM poddata pd WHERE pd.is_terminated = TRUE AND pd.snapshot_time >= DATE_TRUNC('month', CURRENT_TIMESTAMP) - INTERVAL '1 month' AND pd.snapshot_time < DATE_TRUNC('month', CURRENT_TIMESTAMP)

   count
0      0

--------------------------------------------------------------------------------
Question: Identify nodes with the most GPU resources.
Query: SELECT n.node_name, n.cluster_name, i.gpu_quota FROM nodedata n JOIN initiativedata i ON n.node_id = i.nodepool_id ORDER BY i.gpu_quota DESC NULLS LAST LIMIT 1

Empty DataFrame
Columns: [node_name, cluster_name, gpu_quota]
Index: []

--------------------------------------------------------------------------------
Question: What is the distribution of node instance types?
Query: SELECT n.instance_type, COUNT(*) AS COUNT FROM nodedata n GROUP BY n.instance_type ORDER BY COUNT DESC NULLS LAST

   instance_type  count
0  p4de.24xlarge   1560
1    p5.48xlarge    849
2   p4d.24xlarge    265
3  p5en.48xlarge     80
4    c5.18xlarge     53
5   c5d.24xlarge     31
6   c6i.24xlarge     12
7   r6i.24xlarge      5
8   g6e.12xlarge      4
9   r5dn.8xlarge      1

--------------------------------------------------------------------------------
Question: List all clusters with more than 5 nodes.
Query: SELECT n.cluster_name FROM nodedata n GROUP BY n.cluster_name HAVING COUNT(n.node_id) > 5 ORDER BY n.cluster_name NULLS LAST

                     cluster_name
0  colligo-laser-control-prod-uw2
1        colligo-laser01-prod-uw2
2       sensei-eks01-prod-cluster
3       sensei-eks02-prod-cluster
4       sensei-eks03-prod-cluster
5       sensei-eks04-prod-cluster

--------------------------------------------------------------------------------
Question: Which clusters have the highest number of running pods?
Query: WITH running_pods AS (SELECT pd.cluster_name, COUNT(pd.pod_id) AS num_pods FROM poddata pd WHERE pd.is_terminated = FALSE GROUP BY pd.cluster_name) SELECT rp.cluster_name, rp.num_pods FROM running_pods rp ORDER BY rp.num_pods DESC NULLS LAST LIMIT 5

                cluster_name  num_pods
0   colligo-laser01-prod-uw2     18193
1  sensei-eks04-prod-cluster      4829
2  sensei-eks02-prod-cluster      4303
3  sensei-eks03-prod-cluster       197

--------------------------------------------------------------------------------
Question: Identify clusters with the most GPU resources.
Query: SELECT pd.cluster_name, SUM(pd.gpu_count) AS total_gpu_count FROM poddata pd GROUP BY pd.cluster_name ORDER BY total_gpu_count DESC NULLS LAST LIMIT 5

                cluster_name  total_gpu_count
0   colligo-laser01-prod-uw2          1408708
1  sensei-eks04-prod-cluster           102443
2  sensei-eks02-prod-cluster            60238
3  sensei-eks03-prod-cluster             3502

--------------------------------------------------------------------------------
Question: What is the average CPU utilization per cluster?
Query: SELECT m.cluster_name, AVG(m.dcgm_fi_dev_gpu_util) AS average_gpu_utilization FROM metrics m GROUP BY m.cluster_name

                cluster_name  average_gpu_utilization
0   colligo-laser01-prod-uw2               333.598365
1  sensei-eks02-prod-cluster               233.992709
2  sensei-eks03-prod-cluster               106.909768
3  sensei-eks04-prod-cluster               463.202656

--------------------------------------------------------------------------------
Question: List clusters that have not reported metrics in the last 24 hours.
Query: SELECT pd.cluster_name FROM poddata pd WHERE pd.last_metric_received_time < CURRENT_TIMESTAMP - INTERVAL '24 hours' ORDER BY pd.cluster_name NULLS LAST

                    cluster_name
0       colligo-laser01-prod-uw2
1       colligo-laser01-prod-uw2
2       colligo-laser01-prod-uw2
3       colligo-laser01-prod-uw2
4       colligo-laser01-prod-uw2
...                          ...
10337  sensei-eks04-prod-cluster
10338  sensei-eks04-prod-cluster
10339  sensei-eks04-prod-cluster
10340  sensei-eks04-prod-cluster
10341  sensei-eks04-prod-cluster

[10342 rows x 1 columns]

--------------------------------------------------------------------------------
Question: Which clusters have nodes with memory greater than 128GB?
Query: SELECT DISTINCT n.cluster_name FROM nodedata n JOIN instance_type_metadata i ON n.instance_type = i.instance_type WHERE i.memory_mb > 128 ORDER BY n.cluster_name NULLS LAST

                cluster_name
0   colligo-laser01-prod-uw2
1  sensei-eks01-prod-cluster
2  sensei-eks02-prod-cluster
3  sensei-eks03-prod-cluster
4  sensei-eks04-prod-cluster

--------------------------------------------------------------------------------
Question: How many clusters are associated with each platform?
Query: SELECT p.platform, COUNT(DISTINCT p.cluster_name) AS cluster_count FROM poddata p GROUP BY p.platform ORDER BY cluster_count DESC NULLS LAST

  platform  cluster_count
0    runai              3
1    pluto              1

--------------------------------------------------------------------------------
Question: Identify clusters with the highest number of terminated pods.
Query: WITH cluster_pod_counts AS (SELECT pd.cluster_name, COUNT(pd.pod_id) AS num_terminated_pods FROM poddata pd WHERE pd.is_terminated = TRUE GROUP BY pd.cluster_name) SELECT cpc.cluster_name, cpc.num_terminated_pods FROM cluster_pod_counts cpc ORDER BY cpc.num_terminated_pods DESC NULLS LAST LIMIT 5

Empty DataFrame
Columns: [cluster_name, num_terminated_pods]
Index: []

--------------------------------------------------------------------------------
Question: What is the distribution of clusters across different regions?
Query: SELECT c.cluster_name, COUNT(*) AS cluster_count FROM poddata p JOIN nodedata n ON p.cluster_name = n.cluster_name GROUP BY c.cluster_name ORDER BY cluster_count DESC NULLS LAST
Error executing query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "c"
LINE 1: SELECT c.cluster_name, COUNT(*) AS cluster_count FROM poddat...
               ^

[SQL: SELECT c.cluster_name, COUNT(*) AS cluster_count FROM poddata p JOIN nodedata n ON p.cluster_name = n.cluster_name GROUP BY c.cluster_name ORDER BY cluster_count DESC NULLS LAST]
(Background on this error at: https://sqlalche.me/e/20/f405)
--------------------------------------------------------------------------------
Question: List clusters with the most diverse instance types.
Query: WITH cluster_instance_types AS (SELECT n.cluster_name, n.instance_type, COUNT(*) AS type_count FROM nodedata n GROUP BY n.cluster_name, n.instance_type), cluster_type_counts AS (SELECT c.cluster_name, COUNT(*) AS type_count FROM cluster_instance_types c GROUP BY c.cluster_name) SELECT cit.cluster_name, cit.instance_type, cit.type_count FROM cluster_instance_types cit JOIN cluster_type_counts ctc ON cit.cluster_name = ctc.cluster_name ORDER BY ctc.type_count DESC NULLS LAST LIMIT 5

               cluster_name  instance_type  type_count
0  colligo-laser01-prod-uw2   r6i.24xlarge           5
1  colligo-laser01-prod-uw2   p4d.24xlarge         238
2  colligo-laser01-prod-uw2    c5.18xlarge           2
3  colligo-laser01-prod-uw2  p5en.48xlarge          80
4  colligo-laser01-prod-uw2  p4de.24xlarge        1009

--------------------------------------------------------------------------------
Question: How many projects are associated with each initiative?
Query: SELECT i.initiative_name, COUNT(DISTINCT p.project_id) AS project_count FROM projectdata p JOIN initiativedata i ON p.initiative_name = i.initiative_name GROUP BY i.initiative_name ORDER BY project_count DESC NULLS LAST

                                       initiative_name  project_count
0                                                 asml             51
1                                               kineto             27
2                     [Jira: GPU-217] - Firefly Models             21
3                                      sensei-platform             20
4                                      misc-zero-quota             17
..                                                 ...            ...
128     gpu-176--design-and-layout-intelligence--rdg29              1
129                      gpu-177--slm-on-device--rdg85              1
130             gpu-181--native-vector-generation--pg1              1
131  gpu-196--adobeone-sdc-fine-tuning-and-deployme...              1
132  gpu-196--design-varitions-cpt-color-font-model...              1

[133 rows x 2 columns]

--------------------------------------------------------------------------------
Question: List projects with GPU quota exceeding 100.
Query: SELECT pd.project_name FROM projectdata pd WHERE pd.gpu_quota > 100 ORDER BY pd.project_name NULLS LAST

            project_name
0                 apollo
1                ARModel
2      art-harmonization
3   cava-speech-training
4         clioerase-p4de
..                   ...
81    WorldModel-General
82    WorldModel-General
83        xPU Efficiency
84        xPU Efficiency
85        xPU Efficiency

[86 rows x 1 columns]

--------------------------------------------------------------------------------
Question: Which initiatives have the highest CPU quota?
Query: SELECT i.initiative_name, i.cpu_quota FROM initiativedata i ORDER BY i.cpu_quota DESC NULLS LAST LIMIT 1

  initiative_name cpu_quota
0       doc-cloud      None

--------------------------------------------------------------------------------
Question: Identify projects that have not fetched metadata in the last month.
Query: SELECT pd.project_id, pd.project_name FROM projectdata pd WHERE pd.last_fetched_time < (CURRENT_TIMESTAMP - INTERVAL '1 month') ORDER BY pd.project_id NULLS LAST

                               project_id                project_name
0    00828886-cc30-45a7-8ee2-cad6ffdd22c3              xPU Efficiency
1    0d68acfc-d409-4477-a243-9b66e4780bb5                Platform Dev
2    0d68acfc-d409-4477-a243-9b66e4780bb5                Platform Dev
3    0db0a339-a131-4be6-9856-36bf3c6d1f3e       GPU-139-asml-vid-rgba
4    0f85f49f-e309-430b-ab68-19e73b714090         NeuralStyleTransfer
..                                    ...                         ...
130  ece4cd83-1e83-4b7b-bc67-31ad44653d7e  Synthetic Data Enrichments
131  f721fff5-52fb-4d26-810b-ad58fc3a5edc      attention-optimization
132  f92b15f0-9a11-438e-9728-84548feda8a0               PathFinder-P5
133  f9773746-b0cd-4e67-9e7b-db673363ed95               asml-dev-p4de
134  f9773746-b0cd-4e67-9e7b-db673363ed95               asml-dev-p4de

[135 rows x 2 columns]

--------------------------------------------------------------------------------
Question: What is the average memory quota per project?
Query: SELECT pd.project_id, AVG(pd.memory_quota_mb) AS average_memory_quota FROM projectdata pd GROUP BY pd.project_id ORDER BY pd.project_id NULLS LAST

                               project_id average_memory_quota
0    00828886-cc30-45a7-8ee2-cad6ffdd22c3                 None
1    00d7eff0-d859-4632-a19b-fc842d455015                 None
2    041749fb-03a3-4e8c-9b94-6e6bc2a4c53e                 None
3    06b2f27f-1ef7-4c2c-bdc7-3d8f0e8df157                 None
4    0716cc3b-3eab-42af-ba6a-8a2e362ad6ec                 None
..                                    ...                  ...
406  f752030a-b3c2-4da1-a887-2117b042b0bd                 None
407  f92b15f0-9a11-438e-9728-84548feda8a0                 None
408  f9773746-b0cd-4e67-9e7b-db673363ed95                 None
409  fb48f763-e17f-4c5f-95e4-e79a2c23a13c                 None
410  fbf23c96-2d5b-4cba-af26-4879bea3b471                 None

[411 rows x 2 columns]

--------------------------------------------------------------------------------
Question: List initiatives created in the last 30 days.
Query: SELECT DISTINCT i.initiative_name FROM initiativedata i WHERE i.created_at > CURRENT_TIMESTAMP - INTERVAL '30 days' ORDER BY i.created_at DESC NULLS LAST
Error executing query: (psycopg2.errors.InvalidColumnReference) for SELECT DISTINCT, ORDER BY expressions must appear in select list
LINE 1: ...> CURRENT_TIMESTAMP - INTERVAL '30 days' ORDER BY i.created_...
                                                             ^

[SQL: SELECT DISTINCT i.initiative_name FROM initiativedata i WHERE i.created_at > CURRENT_TIMESTAMP - INTERVAL '30 days' ORDER BY i.created_at DESC NULLS LAST]
(Background on this error at: https://sqlalche.me/e/20/f405)
--------------------------------------------------------------------------------
Question: Which projects have the highest number of running pods?
Query: WITH running_pods AS (SELECT pd.project_id, COUNT(pd.pod_id) AS num_pods FROM poddata pd WHERE pd.is_terminated = FALSE GROUP BY pd.project_id) SELECT rp.project_id, rp.num_pods FROM running_pods rp ORDER BY rp.num_pods DESC NULLS LAST LIMIT 1

  project_id  num_pods
0                 9329

--------------------------------------------------------------------------------
Question: Identify initiatives with the most associated nodes.
Query: WITH initiative_node_counts AS (SELECT i.initiative_name, COUNT(DISTINCT i.nodepool_id) AS node_count FROM initiativedata i GROUP BY i.initiative_name) SELECT i.initiative_name, i.node_count FROM initiative_node_counts i ORDER BY i.node_count DESC NULLS LAST LIMIT 1

  initiative_name  node_count
0            asml          11

--------------------------------------------------------------------------------
Question: How many projects are using each node pool?
Query: SELECT pd.nodepool_id, COUNT(DISTINCT pd.project_id) AS project_count FROM projectdata pd GROUP BY pd.nodepool_id ORDER BY pd.nodepool_id NULLS LAST

   nodepool_id  project_count
0                         160
1          133             60
2          134             60
3          199             74
4          200             74
5           21            117
6           23            117
7          232             60
8           24            117
9           25            117
10         529            117
11         562            117

--------------------------------------------------------------------------------
Question: List projects with the most diverse cluster associations.
Query: WITH project_clusters AS (SELECT pd.project_id, COUNT(DISTINCT pd.cluster_name) AS cluster_count FROM poddata pd GROUP BY pd.project_id) SELECT pc.project_id, pc.cluster_count FROM project_clusters pc ORDER BY pc.cluster_count DESC NULLS LAST LIMIT 1

  project_id  cluster_count
0                         3

--------------------------------------------------------------------------------
Question: What are the account IDs of products categorized as 'COMPUTE-RI' and subcategorized as 'H200-RI' for April 2025?
Query: SELECT DISTINCT cd.account_id FROM costs_data cd WHERE cd.category = 'COMPUTE-RI' AND cd.subcategory = 'H200-RI' AND EXTRACT(MONTH FROM cd.date_day) = 4 AND EXTRACT(YEAR FROM cd.date_day) = 2025

     account_id
0  300610508385

--------------------------------------------------------------------------------
Question: List total spend per account ID for the last quarter.
Query: SELECT c.account_id, SUM(c.total_spend) AS total_spend FROM costs_data c WHERE c.date_day >= DATE_TRUNC('month', CURRENT_DATE) - INTERVAL '3 months' AND c.date_day < DATE_TRUNC('month', CURRENT_DATE) GROUP BY c.account_id ORDER BY total_spend DESC NULLS LAST

      account_id   total_spend
0    58264114004  1.666330e+07
1   300610508385  8.209483e+06
2   333190514293  4.207516e+06
3   442665873146  1.038078e+06
4   760168217311  6.134103e+05
5   339163401459  3.808110e+05
6   471112822773  1.527655e+05
7   716880661988  1.263328e+05
8   214272701565  6.786444e+04
9   975049982833  2.920759e+04
10  302505606624  1.189183e+04
11  348948115060  5.699012e+02
12  548329388053  4.335551e+02
13  687907097422  1.701404e+02
14  905274701567  1.362166e+02
15  804957792509  8.096936e+01
16  861595042397  2.382108e+01

--------------------------------------------------------------------------------
Question: Which products incurred the highest costs in May 2025?
Query: SELECT cd.product_name, SUM(cd.total_spend) AS total_spend FROM costs_data cd WHERE EXTRACT(MONTH FROM cd.date_day) = 5 AND EXTRACT(YEAR FROM cd.date_day) = 2025 GROUP BY cd.product_name ORDER BY total_spend DESC NULLS LAST LIMIT 1

                   product_name   total_spend
0  Amazon Elastic Compute Cloud  1.608614e+06

--------------------------------------------------------------------------------
Question: Identify regions with the highest total usage hours.
Query: SELECT c.region, SUM(c.total_usage_hours) AS total_usage FROM costs_data c GROUP BY c.region ORDER BY total_usage DESC NULLS LAST LIMIT 5

           region   total_usage
0       us-west-2  1.675769e+12
1       us-east-1  9.289277e+10
2       eu-west-1  2.069274e+10
3       us-east-2  1.576193e+10
4  ap-northeast-1  1.390389e+10

--------------------------------------------------------------------------------
Question: What is the average cost per instance type?
Query: SELECT it.instance_type, AVG(c.total_spend) AS average_cost FROM costs_data c JOIN instance_type_metadata it ON c.instance_type = it.instance_type GROUP BY it.instance_type ORDER BY it.instance_type NULLS LAST

    instance_type  average_cost
0     c5.12xlarge    894.574163
1     c5.18xlarge    255.877090
2     c5.24xlarge   1795.324181
3      c5.2xlarge     81.531908
4      c5.4xlarge     81.706915
5      c5.9xlarge    234.260239
6        c5.large     12.169688
7       c5.xlarge      4.724135
8   g4dn.12xlarge     18.234814
9   g4dn.16xlarge     20.214570
10   g4dn.2xlarge     32.892263
11   g4dn.4xlarge      2.367666
12   g4dn.8xlarge     32.053331
13     g4dn.metal     68.185478
14    g4dn.xlarge      6.059756
15    g5.12xlarge   3004.113331
16    g5.16xlarge    456.721791
17    g5.24xlarge     62.547243
18     g5.2xlarge     99.158094
19    g5.48xlarge    125.592692
20     g5.4xlarge     39.479323
21     g5.8xlarge     63.859436
22      g5.xlarge     33.560310
23  inf2.24xlarge     39.255300
24    m5.12xlarge     71.098574
25    m5.16xlarge      6.027091
26     m5.2xlarge     21.400205
27     m5.4xlarge      1.989227
28     m5.8xlarge     19.953995
29       m5.large      1.769249
30      m5.xlarge     37.131131
31     p3.2xlarge     78.894769
32     p3.8xlarge     71.645694
33   p4d.24xlarge   9217.508532
34  p4de.24xlarge  25904.603346
35    p5.48xlarge  39562.712734
36  p5en.48xlarge   5278.392247
37    r5.12xlarge     53.744494
38    r5.16xlarge     52.928788
39    r5.24xlarge     77.727113
40     r5.8xlarge     22.932525
41   r6i.24xlarge    134.676884
42       t2.large      1.470888
43       t2.micro      0.064091

--------------------------------------------------------------------------------
Question: List accounts with spending above $10,000 in the last month.
Query: SELECT cd.account_id FROM costs_data cd WHERE cd.total_spend > 10000 AND cd.date_day >= DATE_TRUNC('month', CURRENT_TIMESTAMP) - INTERVAL '1 month' ORDER BY cd.account_id NULLS LAST

      account_id
0    58264114004
1    58264114004
2    58264114004
3    58264114004
4    58264114004
5    58264114004
6    58264114004
7   300610508385
8   300610508385
9   300610508385
10  300610508385
11  300610508385
12  300610508385
13  300610508385
14  300610508385
15  300610508385
16  300610508385
17  300610508385
18  300610508385
19  333190514293
20  333190514293
21  442665873146
22  442665873146

--------------------------------------------------------------------------------
Question: Which subcategories have the highest total spend?
Query: SELECT c.subcategory, SUM(c.total_spend) AS total_spend FROM costs_data c GROUP BY c.subcategory ORDER BY total_spend DESC NULLS LAST LIMIT 5

    subcategory   total_spend
0       H100-RI  1.291574e+07
1  A100-RI-80GB  7.185970e+06
2  A100-RI-40GB  3.549069e+06
3          A10G  1.114159e+06
4    STORAGE-S3  1.045096e+06

--------------------------------------------------------------------------------
Question: Identify products with zero usage hours but incurred costs.
Query: SELECT cd.product_name, cd.total_spend FROM costs_data cd WHERE cd.total_usage_hours = 0 AND cd.total_spend > 0 ORDER BY cd.product_name NULLS LAST

Empty DataFrame
Columns: [product_name, total_spend]
Index: []

--------------------------------------------------------------------------------
Question: What is the distribution of costs across different environments?
Query: SELECT c.env, c.total_spend FROM costs_data c ORDER BY c.total_spend NULLS LAST

        env    total_spend
0                 0.000000
1                 0.000000
2                 0.000000
3                 0.000000
4       DEV       0.000000
...     ...            ...
314389       308394.960148
314390       308864.900704
314391       308919.048417
314392       308969.708947
314393       314742.642482

[314394 rows x 2 columns]

--------------------------------------------------------------------------------
Question: List the top 5 most expensive instance types.
Query: SELECT c.instance_type, SUM(c.total_spend) AS total_spend FROM costs_data c GROUP BY c.instance_type ORDER BY total_spend DESC NULLS LAST LIMIT 5

   instance_type   total_spend
0    p5.48xlarge  1.337220e+07
1  p4de.24xlarge  7.382812e+06
2   p4d.24xlarge  4.498144e+06
3         Others  3.885525e+06
4    g5.12xlarge  8.892175e+05

--------------------------------------------------------------------------------
Question: What is the distribution of instance types?
Query: SELECT n.instance_type, COUNT(*) AS COUNT FROM nodedata n GROUP BY n.instance_type ORDER BY COUNT DESC NULLS LAST

   instance_type  count
0  p4de.24xlarge   1560
1    p5.48xlarge    849
2   p4d.24xlarge    265
3  p5en.48xlarge     80
4    c5.18xlarge     53
5   c5d.24xlarge     31
6   c6i.24xlarge     12
7   r6i.24xlarge      5
8   g6e.12xlarge      4
9   r5dn.8xlarge      1

--------------------------------------------------------------------------------
Question: List instance types with more than 8 GPUs.
Query: SELECT it.instance_type FROM instance_type_metadata it WHERE it.gpu_count > 8 ORDER BY it.instance_type NULLS LAST

Empty DataFrame
Columns: [instance_type]
Index: []

--------------------------------------------------------------------------------
Question: Identify instance types with CPU count exceeding 64.
Query: SELECT it.instance_type FROM instance_type_metadata it WHERE it.cpu_count > 64 ORDER BY it.instance_type NULLS LAST

     instance_type
0      c5.18xlarge
1      c5.24xlarge
2       g4dn.metal
3      g5.24xlarge
4      g5.48xlarge
5    inf2.24xlarge
6    inf2.48xlarge
7      m5.24xlarge
8    p3dn.24xlarge
9     p4d.24xlarge
10   p4de.24xlarge
11     p5.48xlarge
12   p5en.48xlarge
13     r5.24xlarge
14        r5.metal
15    r5d.24xlarge
16       r5d.metal
17    r6i.24xlarge
18    r6i.32xlarge
19       r6i.metal
20   trn1.32xlarge
21  trn1n.32xlarge

--------------------------------------------------------------------------------
Question: Which instance types have memory greater than 256GB?
Query: SELECT DISTINCT it.instance_type FROM instance_type_metadata it WHERE it.memory_mb > 256 ORDER BY it.instance_type NULLS LAST

     instance_type
0       g4dn.metal
1      g5.24xlarge
2      g5.48xlarge
3    inf2.24xlarge
4    inf2.48xlarge
5      m5.24xlarge
6      p3.16xlarge
7    p3dn.24xlarge
8     p4d.24xlarge
9    p4de.24xlarge
10     p5.48xlarge
11   p5en.48xlarge
12     r5.12xlarge
13     r5.16xlarge
14     r5.24xlarge
15        r5.metal
16    r5d.12xlarge
17    r5d.16xlarge
18    r5d.24xlarge
19       r5d.metal
20    r6i.12xlarge
21    r6i.16xlarge
22    r6i.24xlarge
23    r6i.32xlarge
24       r6i.metal
25   trn1.32xlarge
26  trn1n.32xlarge

--------------------------------------------------------------------------------
Question: What is the average GPU count across all instance types?
Query: SELECT AVG(itm.gpu_count) AS average_gpu_count FROM instance_type_metadata itm

   average_gpu_count
0           1.197368

--------------------------------------------------------------------------------
Question: List instance types used in the 'runai' platform.
Query: SELECT DISTINCT n.instance_type FROM nodedata n WHERE n.platform = 'runai' ORDER BY n.instance_type NULLS LAST

   instance_type
0    c5.18xlarge
1   p4d.24xlarge
2  p4de.24xlarge
3    p5.48xlarge

--------------------------------------------------------------------------------
Question: Identify instance types with the highest CPU to GPU ratio.
Query: SELECT it.instance_type, SUM(it.cpu_count) / NULLIF(SUM(it.gpu_count), 0) AS cpu_gpu_ratio FROM instance_type_metadata it GROUP BY it.instance_type ORDER BY cpu_gpu_ratio DESC NULLS LAST LIMIT 1

  instance_type  cpu_gpu_ratio
0   g5.16xlarge             64

--------------------------------------------------------------------------------
Question: What is the most commonly used instance type?
Query: SELECT n.instance_type, COUNT(*) AS usage_count FROM nodedata n GROUP BY n.instance_type ORDER BY usage_count DESC LIMIT 1

   instance_type  usage_count
0  p4de.24xlarge         1560

--------------------------------------------------------------------------------
Question: List instance types that are no longer in use.
Query: SELECT n.instance_type FROM nodedata n WHERE n.instance_type NOT IN (SELECT c.instance_type FROM costs_data c WHERE c.date_day = CURRENT_DATE)

      instance_type
0       c5.18xlarge
1     p4de.24xlarge
2     p4de.24xlarge
3     p4de.24xlarge
4       p5.48xlarge
...             ...
2855  p4de.24xlarge
2856  p4de.24xlarge
2857  p4de.24xlarge
2858  p4de.24xlarge
2859  p4de.24xlarge

[2860 rows x 1 columns]

--------------------------------------------------------------------------------
Question: Which instance types are associated with the highest costs?
Query: WITH total_cost_per_instance_type AS (SELECT c.instance_type, SUM(c.total_spend) AS total_spend FROM costs_data c GROUP BY c.instance_type) SELECT tci.instance_type, tci.total_spend FROM total_cost_per_instance_type tci ORDER BY tci.total_spend DESC NULLS LAST LIMIT 5

   instance_type   total_spend
0    p5.48xlarge  1.337220e+07
1  p4de.24xlarge  7.382812e+06
2   p4d.24xlarge  4.498144e+06
3         Others  3.885525e+06
4    g5.12xlarge  8.892175e+05

--------------------------------------------------------------------------------
Question: Which pods have the highest GPU utilization?
Query: SELECT m.pod_id, m.pod_name, m.dcgm_fi_dev_gpu_util FROM metrics m ORDER BY m.dcgm_fi_dev_gpu_util DESC NULLS LAST LIMIT 5

,pod_id,pod_name,dcgm_fi_dev_gpu_util
0,c5f3994f-ef0d-40ab-95af-9502cf0987e1,pluto-prod-mehern-clio4-1-upcycle-mxblp2-26-10,694196.0
1,b5266190-5fc1-4ba6-a863-565cffdfb1c2,pluto-prod-kelkar-ffp41410v2-v1-2-3,677388.0
2,4a5f3efe-1737-460f-86b7-ee4a29fe99e3,pluto-prod-mrizve-ffp-39621-tokeni-94spbn-1-4,549841.0
3,f449d21f-9393-4c13-a15a-95c150808171,pluto-prod-seoh-unified-train-eigm8o-1-0,382449.0
4,8a41b8ca-c0cb-4432-b310-79767ff750d4,pluto-prod-anmahapa-motion-canvas-saerwc-36-14,377645.0

--------------------------------------------------------------------------------
Question: Identify pods with thermal violations.
Query: SELECT m.pod_id, m.pod_name, m.cluster_name, m.initiative_name, m.project_id, m.project_name, m.metric_timestamp, m.dcgm_fi_dev_thermal_violation FROM metrics m WHERE m.dcgm_fi_dev_thermal_violation > 0

Empty DataFrame
Columns: [pod_id, pod_name, cluster_name, initiative_name, project_id, project_name, metric_timestamp, dcgm_fi_dev_thermal_violation]
Index: []

--------------------------------------------------------------------------------
Question: List pods with power violations.
Query: SELECT m.pod_id, m.pod_name, m.cluster_name, m.initiative_name, m.project_id, m.project_name, m.metric_timestamp, m.dcgm_fi_dev_power_violation FROM metrics m WHERE m.dcgm_fi_dev_power_violation > 0

Empty DataFrame
Columns: [pod_id, pod_name, cluster_name, initiative_name, project_id, project_name, metric_timestamp, dcgm_fi_dev_power_violation]
Index: []

--------------------------------------------------------------------------------
Question: Which pods have low utilization violations?
Query: SELECT m.pod_id, m.pod_name, m.initiative_name, m.project_name, m.cluster_name, m.metric_timestamp, m.dcgm_fi_dev_low_util_violation FROM metrics m WHERE m.dcgm_fi_dev_low_util_violation > 0.5 ORDER BY m.dcgm_fi_dev_low_util_violation DESC NULLS LAST

Empty DataFrame
Columns: [pod_id, pod_name, initiative_name, project_name, cluster_name, metric_timestamp, dcgm_fi_dev_low_util_violation]
Index: []

--------------------------------------------------------------------------------
Question: Identify pods with reliability issues.
Query: SELECT m.pod_id, m.pod_name, m.initiative_name, m.project_name, m.cluster_name, m.metric_timestamp, m.dcgm_fi_dev_reliability_violation FROM metrics m WHERE m.dcgm_fi_dev_reliability_violation > 0.5 ORDER BY m.pod_id NULLS LAST

Empty DataFrame
Columns: [pod_id, pod_name, initiative_name, project_name, cluster_name, metric_timestamp, dcgm_fi_dev_reliability_violation]
Index: []

--------------------------------------------------------------------------------
Question: What is the average SM occupancy across all pods?
Query: SELECT AVG(m.dcgm_fi_prof_sm_occupancy) AS average_sm_occupancy FROM metrics m

   average_sm_occupancy
0                   NaN

--------------------------------------------------------------------------------
Question: List pods with the highest DRAM activity.
Query: SELECT m.pod_id, m.pod_name, m.initiative_name, m.project_name, m.cluster_name, m.metric_timestamp, m.dcgm_fi_prof_dram_active FROM metrics m ORDER BY m.dcgm_fi_prof_dram_active DESC NULLS LAST LIMIT 10

,pod_id,pod_name,initiative_name,project_name,cluster_name,metric_timestamp,dcgm_fi_prof_dram_active
0,b6b74632-2e19-4bd7-ad68-17a4903786bf,pluto-prod-eslyman-eslyman-dgjab9-1-6,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-14 18:40:19,6.822396
1,b6b74632-2e19-4bd7-ad68-17a4903786bf,pluto-prod-eslyman-eslyman-dgjab9-1-6,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-14 19:20:19,6.821951
2,9857fbb5-5938-4168-b024-290f16fad0aa,pluto-prod-eslyman-eslyman-dgjab9-1-3,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-14 04:10:18,6.821933
3,b6b74632-2e19-4bd7-ad68-17a4903786bf,pluto-prod-eslyman-eslyman-dgjab9-1-6,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-14 11:20:19,6.821909
4,b6b74632-2e19-4bd7-ad68-17a4903786bf,pluto-prod-eslyman-eslyman-dgjab9-1-6,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-14 16:00:19,6.821899
5,b6b74632-2e19-4bd7-ad68-17a4903786bf,pluto-prod-eslyman-eslyman-dgjab9-1-6,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-13 20:10:19,6.821886
6,b6b74632-2e19-4bd7-ad68-17a4903786bf,pluto-prod-eslyman-eslyman-dgjab9-1-6,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-14 15:30:19,6.821829
7,9857fbb5-5938-4168-b024-290f16fad0aa,pluto-prod-eslyman-eslyman-dgjab9-1-3,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-14 12:50:18,6.821817
8,b6b74632-2e19-4bd7-ad68-17a4903786bf,pluto-prod-eslyman-eslyman-dgjab9-1-6,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-13 20:30:19,6.821801
9,b6b74632-2e19-4bd7-ad68-17a4903786bf,pluto-prod-eslyman-eslyman-dgjab9-1-6,Jira-GPU-217-Firefly-Models,GPU-125-asml-safety-quality,colligo-laser01-prod-uw2,2025-05-13 23:20:19,6.821796

--------------------------------------------------------------------------------
Question: Which pods have the highest graphics engine activity.
Query: SELECT m.pod_id, m.pod_name, m.initiative_name, m.project_name, m.cluster_name, m.metric_timestamp, m.dcgm_fi_prof_gr_engine_active FROM metrics m ORDER BY m.dcgm_fi_prof_gr_engine_active DESC NULLS LAST LIMIT 5

,pod_id,pod_name,initiative_name,project_name,cluster_name,metric_timestamp,dcgm_fi_prof_gr_engine_active
0,2ec274ec-364b-42b5-86bf-bb06f6630a26,pluto-prod-kpnvr-qt-v4-l1-ca-jacm8h-2-9,Jira-GPU-217-Firefly-Models,GPU-125-asml-vid-prod,colligo-laser01-prod-uw2,2025-05-15 00:19:51,NaN
1,2ec274ec-364b-42b5-86bf-bb06f6630a26,pluto-prod-kpnvr-qt-v4-l1-ca-jacm8h-2-9,Jira-GPU-217-Firefly-Models,GPU-125-asml-vid-prod,colligo-laser01-prod-uw2,2025-05-15 00:29:51,NaN
2,2ec274ec-364b-42b5-86bf-bb06f6630a26,pluto-prod-kpnvr-qt-v4-l1-ca-jacm8h-2-9,Jira-GPU-217-Firefly-Models,GPU-125-asml-vid-prod,colligo-laser01-prod-uw2,2025-05-14 23:59:51,NaN
3,2ec274ec-364b-42b5-86bf-bb06f6630a26,pluto-prod-kpnvr-qt-v4-l1-ca-jacm8h-2-9,Jira-GPU-217-Firefly-Models,GPU-125-asml-vid-prod,colligo-laser01-prod-uw2,2025-05-15 00:09:51,NaN
4,2ec274ec-364b-42b5-86bf-bb06f6630a26,pluto-prod-kpnvr-qt-v4-l1-ca-jacm8h-2-9,Jira-GPU-217-Firefly-Models,GPU-125-asml-vid-prod,colligo-laser01-prod-uw2,2025-05-15 00:39:51,NaN

--------------------------------------------------------------------------------
Question: Identify pods with the highest tensor core activity.
Query: SELECT m.pod_id, m.pod_name, m.initiative_name, m.project_id, m.cluster_name, m.metric_timestamp, m.dcgm_fi_prof_pipe_tensor_active FROM metrics m ORDER BY m.dcgm_fi_prof_pipe_tensor_active DESC NULLS LAST LIMIT 1

,pod_id,pod_name,initiative_name,project_id,cluster_name,metric_timestamp,dcgm_fi_prof_pipe_tensor_active
0,e3cab438-d886-4070-849b-886e3fc248e3,pluto-prod-zhiwenc-250515-udit-48n-1-3,Jira-GPU-217-Firefly-Models,181ce015-311a-4641-8cef-bfecb2185f2a,colligo-laser01-prod-uw2,2025-05-15 07:46:24,NaN

--------------------------------------------------------------------------------
Question: What is the average GPU temperature across all pods?
Query: SELECT AVG(m.dcgm_fi_dev_gpu_temp) AS average_gpu_temp FROM metrics m

   average_gpu_temp
0       1699.011252

--------------------------------------------------------------------------------

In [4]:
import json
import pandas as pd

# Load queries from JSON file
with open('generated_queries_SQL_Coder.json', 'r') as f:
    queries = json.load(f)

# Execute each query and print results
for item in queries:
    question = item['question']
    query = item['query']
    print(f'Question: {question}')
    print(f'Query: {query}')
    try:
        df = pd.read_sql_query(query, db_engine)
        display(df)
    except Exception as e:
        print(f'Error executing query: {e}')
    print('-' * 80)

Question: Show the number of nodes created per day
Query: SELECT n.nodename,
       COUNT(*) AS num_nodes,
       DATE_TRUNC('day', n.created) AS creation_date
FROM nodedata n
GROUP BY n.nodename,
         DATE_TRUNC('day', n.created)
ORDER BY creation_date NULLS LAST;

                                         nodename  num_nodes creation_date
0      ip-10-66-73-195.us-west-2.compute.internal          1    2023-12-07
1       ip-10-66-74-99.us-west-2.compute.internal          1    2023-12-07
2       ip-10-66-75-81.us-west-2.compute.internal          1    2023-12-07
3      ip-10-66-76-245.us-west-2.compute.internal          1    2023-12-07
4      ip-10-66-77-114.us-west-2.compute.internal          1    2023-12-07
...                                           ...        ...           ...
2855   ip-10-91-93-128.us-west-2.compute.internal          1    2025-05-14
2856  ip-10-90-114-162.us-west-2.compute.internal          1    2025-05-15
2857  ip-10-90-204-207.us-west-2.compute.internal          1    2025-05-15
2858   ip-10-90-26-250.us-west-2.compute.internal          1    2025-05-15
2859   ip-10-91-183-78.us-west-2.compute.internal          1    2025-05-15

[2860 rows x 3 columns]

--------------------------------------------------------------------------------
Question: How many pods have current state running?
Query: SELECT COUNT(*)
FROM poddata pd
WHERE LOWER(pd.state) = 'running';

    count
0  173491

--------------------------------------------------------------------------------
Question: How many nodes are there per cluster?
Query: SELECT n.clustername,
       COUNT(*) AS node_count
FROM nodedata n
GROUP BY n.clustername
ORDER BY n.clustername NULLS LAST;

                      clustername  node_count
0  colligo-laser-control-prod-uw2           7
1        colligo-laser01-prod-uw2        2195
2       sensei-eks01-prod-cluster          11
3       sensei-eks02-prod-cluster         188
4       sensei-eks03-prod-cluster          39
5       sensei-eks04-prod-cluster         420

--------------------------------------------------------------------------------
Question: What are the account id of the products that have category as 'COMPUTE-RI' and subcategory as 'H200-RI' in the month of April 2025?
Query: SELECT cd.account_id
FROM costs_data cd
WHERE cd.category = 'COMPUTE-RI'
  AND cd.subcategory = 'H200-RI'
  AND cd.date_day >= '2025-04-01'
  AND cd.date_day < '2025-05-01';

      account_id
0   300610508385
1   300610508385
2   300610508385
3   300610508385
4   300610508385
5   300610508385
6   300610508385
7   300610508385
8   300610508385
9   300610508385
10  300610508385
11  300610508385
12  300610508385
13  300610508385
14  300610508385
15  300610508385
16  300610508385
17  300610508385
18  300610508385
19  300610508385
20  300610508385
21  300610508385
22  300610508385
23  300610508385
24  300610508385
25  300610508385
26  300610508385
27  300610508385
28  300610508385
29  300610508385

--------------------------------------------------------------------------------
Question: Show me the clusters that have more than 5 nodes, grouped by platform
Query: SELECT pd.clustername,
       COUNT(pd.node_name) AS node_count,
       pd.platform
FROM poddata pd
GROUP BY pd.clustername,
         pd.platform
HAVING COUNT(pd.node_name) > 5
ORDER BY pd.clustername,
         pd.platform NULLS LAST;

                 clustername  node_count platform
0   colligo-laser01-prod-uw2      190151    pluto
1  sensei-eks02-prod-cluster        8819    runai
2  sensei-eks03-prod-cluster         494    runai
3  sensei-eks04-prod-cluster       12890    runai

--------------------------------------------------------------------------------
Question: From how many projects did the last time we fetched metadata lies in last month
Query: SELECT COUNT(DISTINCT pd.project_id)
FROM projectdata pd
WHERE pd.lastfetched > CURRENT_DATE - INTERVAL '1 month';
Error executing query: (psycopg2.errors.UndefinedColumn) column pd.project_id does not exist
LINE 1: SELECT COUNT(DISTINCT pd.project_id)
                              ^
HINT:  Perhaps you meant to reference the column "pd.projectid".

[SQL: SELECT COUNT(DISTINCT pd.project_id)
FROM projectdata pd
WHERE pd.lastfetched > CURRENT_DATE - INTERVAL '1 month';]
(Background on this error at: https://sqlalche.me/e/20/f405)
--------------------------------------------------------------------------------
Question: What is the distribution of instance types?
Query: SELECT n.instancetype,
       COUNT(*) AS COUNT
FROM nodedata n
GROUP BY n.instancetype
ORDER BY COUNT DESC NULLS LAST;

    instancetype  count
0  p4de.24xlarge   1560
1    p5.48xlarge    849
2   p4d.24xlarge    265
3  p5en.48xlarge     80
4    c5.18xlarge     53
5   c5d.24xlarge     31
6   c6i.24xlarge     12
7   r6i.24xlarge      5
8   g6e.12xlarge      4
9   r5dn.8xlarge      1

--------------------------------------------------------------------------------
Question: What are all the nodes in the 'sensei-eks01-prod-cluster' cluster?
Query: SELECT DISTINCT n.nodename
FROM nodedata n
WHERE n.clustername ='sensei-eks01-prod-cluster';

                                      nodename
0   ip-10-66-72-210.us-west-2.compute.internal
1   ip-10-66-73-195.us-west-2.compute.internal
2    ip-10-66-74-99.us-west-2.compute.internal
3    ip-10-66-75-81.us-west-2.compute.internal
4   ip-10-66-76-245.us-west-2.compute.internal
5   ip-10-66-77-114.us-west-2.compute.internal
6   ip-10-66-77-246.us-west-2.compute.internal
7   ip-10-66-78-145.us-west-2.compute.internal
8    ip-10-66-78-84.us-west-2.compute.internal
9    ip-10-66-79-46.us-west-2.compute.internal
10   ip-10-66-79-69.us-west-2.compute.internal

--------------------------------------------------------------------------------

## Execution Accuracy

$$
EX = \frac{\sum_{i=1}^{N}\mathbb{I}(V_{i}=\hat{V}_{i})}{N}
$$

Where:
* $N$: The total number of examples (natural language questions) in the dataset.
* $\mathbb{I}(V_{i}=\hat{V}_{i})$: An indicator function that equals 1 if the executed results of the predicted SQL query ($\hat{V}_{i}$) exactly match the executed results of the ground-truth SQL query ($V_{i}$) for the $i$-th example, and 0 otherwise.

In [32]:
import json
import pandas as pd

# Load gold SQLs and generated SQLs
with open('json files/gold_sql.json', 'r') as f:
    gold_examples = json.load(f)

with open('json files/generated_queries_OmniSQL.json', 'r') as f:
    generated_examples = json.load(f)

assert len(gold_examples) == len(generated_examples), "Mismatch in number of gold and generated queries"

def exec_match_sqlalchemy(engine, pred_sql, gold_sql):
    try:
        pred_res = pd.read_sql_query(pred_sql, engine)
    except Exception as e:
        print('Pred SQL error:', e)
        return 0
    try:
        gold_res = pd.read_sql_query(gold_sql, engine)
    except Exception as e:
        print('Gold SQL error:', e)
        return 0
    try:
        # Sort columns alphabetically
        pred_res_sorted = pred_res.reindex(sorted(pred_res.columns), axis=1)
        gold_res_sorted = gold_res.reindex(sorted(gold_res.columns), axis=1)
        # Sort rows by all columns
        pred_res_sorted = pred_res_sorted.sort_values(by=list(pred_res_sorted.columns)).reset_index(drop=True)
        gold_res_sorted = gold_res_sorted.sort_values(by=list(gold_res_sorted.columns)).reset_index(drop=True)
        # First, try strict match
        if pred_res_sorted.equals(gold_res_sorted):
            return 1
        # If not, check if values match regardless of column names
        if pred_res_sorted.shape == gold_res_sorted.shape:
            if (pred_res_sorted.values == gold_res_sorted.values).all():
                print('Column names differ but values match. Marking as match.')
                return 1
        # Otherwise, print the outputs
        print('No match!')
        print('Predicted Output:')
        print(pred_res_sorted)
        print('Gold Output:')
        print(gold_res_sorted)
        return 0
    except Exception as e:
        # Fallback to set comparison if sorting fails
        match = int(pred_res.equals(gold_res))
        if not match:
            print('No match! (fallback)')
            print('Predicted Output:')
            print(pred_res)
            print('Gold Output:')
            print(gold_res)
        return match
exec_matches = []
for gold, pred in zip(gold_examples, generated_examples):
    gold_sql = gold.get('query') or gold.get('gold_sql')
    pred_sql = pred.get('query') or pred.get('predicted_sql')
    try:
        match = exec_match_sqlalchemy(db_engine, pred_sql, gold_sql)
    except Exception as e:
        print(f'Error comparing queries: {e}')
        match = 0
    exec_matches.append(match)

execution_accuracy = sum(exec_matches) / len(exec_matches)
print(f"Execution Accuracy: {execution_accuracy*100:.2f}%")

No match!
Predicted Output:
    count creation_date
0       1    2024-06-27
1       1    2024-09-04
2       1    2024-11-09
3       1    2024-12-12
4       1    2024-12-18
..    ...           ...
85    120    2025-04-29
86    182    2025-02-24
87    217    2025-04-01
88    228    2025-04-03
89    576    2025-04-02

[90 rows x 2 columns]
Gold Output:
   creation_date  node_count
0     2023-12-07           8
1     2024-06-27           1
2     2024-07-19           3
3     2024-08-07           3
4     2024-09-04           1
..           ...         ...
85    2025-05-11           4
86    2025-05-12          21
87    2025-05-13          34
88    2025-05-14          11
89    2025-05-15           4

[90 rows x 2 columns]
No match!
Predicted Output:
   count
0      0
Gold Output:
    count
0  173491
Pred SQL error: (psycopg2.errors.GroupingError) column "nodedata.cluster_name" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: SELECT cluster_name, platform
               ^

[SQL: SELECT cluster_name, platform
FROM nodedata
GROUP BY platform
HAVING COUNT(*) > 5;]
(Background on this error at: https://sqlalche.me/e/20/f405)
Pred SQL error: (psycopg2.errors.UndefinedColumn) column "project_id" does not exist
LINE 1: SELECT COUNT(DISTINCT project_id) AS num_projects
                              ^

[SQL: SELECT COUNT(DISTINCT project_id) AS num_projects
FROM initiativedata
WHERE last_fetched_time >= DATE('now', '-1 month');]
(Background on this error at: https://sqlalche.me/e/20/f405)
No match!
Predicted Output:
    instance_count   instance_type
0                1     c5.12xlarge
1                1     c5.18xlarge
2                1     c5.24xlarge
3                1      c5.2xlarge
4                1      c5.4xlarge
..             ...             ...
71               1        t2.large
72               1        t2.micro
73               1    trn1.2xlarge
74               1   trn1.32xlarge
75               1  trn1n.32xlarge

[76 rows x 2 columns]
Gold Output:
   instance_count  instance_type
0               1   r5dn.8xlarge
1               4   g6e.12xlarge
2               5   r6i.24xlarge
3              12   c6i.24xlarge
4              31   c5d.24xlarge
5              53    c5.18xlarge
6              80  p5en.48xlarge
7             265   p4d.24xlarge
8             849    p5.48xlarge
9            1560  p4de.24xlarge
Pred SQL error: sqlalchemy.cyextension.immutabledict.immutabledict is not a sequence
No match!
Predicted Output:
                                    pod_id
0     000ff4b0-3bb3-48bb-8066-2069f75a1824
1     00152a8c-90a3-4756-b3f3-dafe54b589dc
2     00232621-267c-4895-ba26-834455798bc0
3     0026f7a6-5190-4128-bc46-5b673a4760da
4     0033d70f-7557-4cb5-a551-e5c147971c78
...                                    ...
8468  ffc08fd2-2111-4566-bf47-cf02a37d7769
8469  ffc2e237-1cae-4ce3-bedc-718905b5e680
8470  ffc462b0-1398-4ef6-92a1-3cb6edc2a128
8471  ffdb1a7d-73d6-4e15-b222-1cf70103af15
8472  ffefea6f-9dff-4b2f-b005-8a8a734fdcbd

[8473 rows x 1 columns]
Gold Output:
                                    pod_id
0     000fb6d2-b630-44d4-a3b0-7564d486ee8a
1     000ff4b0-3bb3-48bb-8066-2069f75a1824
2     00152a8c-90a3-4756-b3f3-dafe54b589dc
3     00232621-267c-4895-ba26-834455798bc0
4     0026f7a6-5190-4128-bc46-5b673a4760da
...                                    ...
8769  ffc2e237-1cae-4ce3-bedc-718905b5e680
8770  ffc462b0-1398-4ef6-92a1-3cb6edc2a128
8771  ffdb1a7d-73d6-4e15-b222-1cf70103af15
8772  ffe9b594-e5bf-476d-abb1-f082217bd572
8773  ffefea6f-9dff-4b2f-b005-8a8a734fdcbd

[8774 rows x 1 columns]
No match!
Predicted Output:
Empty DataFrame
Columns: [pod_id]
Index: []
Gold Output:
        memory_mb                                            name  \
0            1802    pluto-prod-abhishekgaur-abhi-test-2vqrmy-1-0
1            1802    pluto-prod-abhishekgaur-abhi-test-7lhmga-1-0
2            1802    pluto-prod-abhishekgaur-abhi-test-bzr17f-1-0
3            1802    pluto-prod-abhishekgaur-abhi-test-bzr17f-2-0
4            1802    pluto-prod-abhishekgaur-abhi-test-dmh5rl-1-0
...           ...                                             ...
211653    2066677  pluto-prod-jcasebeer-apollo-stae-u-ohzvb7-53-0
211654    2066677  pluto-prod-jcasebeer-apollo-stae-u-ohzvb7-53-1
211655    2066677  pluto-prod-jcasebeer-apollo-stae-u-ohzvb7-53-2
211656    2066677  pluto-prod-jcasebeer-apollo-stae-u-ohzvb7-53-3
211657    2215905                       xl-local-caption-v2-8-0-0

                                      pod_id
0       25c8caea-cafd-4030-84a9-90d320c70924
1       09b2bd13-7659-4336-8d9c-98aa537c3d6f
2       03e90919-9db3-4f58-886f-e7eabe9b5274
3       b968c3aa-ae33-4b8e-8929-ca7894073ed7
4       24adf4aa-47bf-4097-b8ea-fbc9c0363798
...                                      ...
211653  32191ba2-0607-46e5-8987-29d741970c50
211654  d148219f-0a7e-4961-95f4-9c7382801afe
211655  2f104efd-33ca-4f02-a380-93a675b28da1
211656  1d441056-bd9a-403d-9c74-7fe04cbdb08c
211657  9efba329-8c74-4bd3-b5ce-6c998350e3f5

[211658 rows x 3 columns]
No match!
Predicted Output:
                      project  total_pods
0                                     622
1                     ARModel        2321
2      ART-General-Distractor          56
3            ART-SuperMasking          57
4    Attribution-and-Insights          35
..                        ...         ...
308     video-multiedit-train         121
309    workshop-may-2024-p4de           1
310            xPU-Efficiency        1913
311         zero-quota-sensei           1
312          zipir-train-p4de         386

[313 rows x 2 columns]
Gold Output:
     number_of_pods                            project_id
0                 1  298bca92-1743-4784-81fe-27cfce768cc8
1                 1  53eea31b-b09e-4760-a844-12ace0bd23ab
2                 1  579723cb-266c-4741-bd60-a308bc002e2d
3                 1  7891cb9f-ff72-40a3-bc2e-5e3fdfc32cbb
4                 1  939e3a02-9c28-4061-8859-ca333f70c75e
..              ...                                   ...
169            9509  ebdb187f-e4e2-407d-ade0-f86070d2a98d
170           15709  790b8fb4-b151-4d30-a73a-51c771d441a0
171           19484  181ce015-311a-4641-8cef-bfecb2185f2a
172           22203
173           25847  932bc350-7813-452c-a75c-dd229b87cd4c

[174 rows x 2 columns]
Pred SQL error: (psycopg2.errors.UndefinedColumn) column m.last_metric_received_time does not exist
LINE 3: WHERE m.last_metric_received_time < datetime('now', '-2 hour...
              ^

[SQL: SELECT DISTINCT m.pod_id
FROM metrics m
WHERE m.last_metric_received_time < datetime('now', '-2 hours');]
(Background on this error at: https://sqlalche.me/e/20/f405)
Pred SQL error: (psycopg2.errors.UndefinedFunction) function datetime(timestamp with time zone, unknown) does not exist
LINE 3: WHERE start_time < DATETIME(CURRENT_TIMESTAMP, '-24 hours');
                           ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT pod_id
FROM poddata
WHERE start_time < DATETIME(CURRENT_TIMESTAMP, '-24 hours');]
(Background on this error at: https://sqlalche.me/e/20/f405)
No match!
Predicted Output:
                 cluster_name        state  state_count
0    colligo-laser01-prod-uw2       Failed        15103
1    colligo-laser01-prod-uw2      Pending        10470
2    colligo-laser01-prod-uw2      Running       163012
3    colligo-laser01-prod-uw2    Succeeded         1566
4   sensei-eks02-prod-cluster       Failed         2756
5   sensei-eks02-prod-cluster      Pending         1241
6   sensei-eks02-prod-cluster      Running         3312
7   sensei-eks02-prod-cluster    Succeeded         1510
8   sensei-eks03-prod-cluster       Failed          128
9   sensei-eks03-prod-cluster      Pending          157
10  sensei-eks03-prod-cluster      Running          140
11  sensei-eks03-prod-cluster    Succeeded           69
12  sensei-eks04-prod-cluster      Deleted          541
13  sensei-eks04-prod-cluster        Error           10
14  sensei-eks04-prod-cluster       Failed         1746
15  sensei-eks04-prod-cluster      Pending         1261
16  sensei-eks04-prod-cluster      Running         7027
17  sensei-eks04-prod-cluster    Succeeded         2287
18  sensei-eks04-prod-cluster  Terminating           18
Gold Output:
                 cluster_name   count        state
0    colligo-laser01-prod-uw2    1566    Succeeded
1    colligo-laser01-prod-uw2   10470      Pending
2    colligo-laser01-prod-uw2   15103       Failed
3    colligo-laser01-prod-uw2  163012      Running
4   sensei-eks02-prod-cluster    1241      Pending
5   sensei-eks02-prod-cluster    1510    Succeeded
6   sensei-eks02-prod-cluster    2756       Failed
7   sensei-eks02-prod-cluster    3312      Running
8   sensei-eks03-prod-cluster      69    Succeeded
9   sensei-eks03-prod-cluster     128       Failed
10  sensei-eks03-prod-cluster     140      Running
11  sensei-eks03-prod-cluster     157      Pending
12  sensei-eks04-prod-cluster      10        Error
13  sensei-eks04-prod-cluster      18  Terminating
14  sensei-eks04-prod-cluster     541      Deleted
15  sensei-eks04-prod-cluster    1261      Pending
16  sensei-eks04-prod-cluster    1746       Failed
17  sensei-eks04-prod-cluster    2287    Succeeded
18  sensei-eks04-prod-cluster    7027      Running
No match!
Predicted Output:
                                 pod_id
0  9efba329-8c74-4bd3-b5ce-6c998350e3f5
Gold Output:
   gpu_count                                pod_id
0         16  9efba329-8c74-4bd3-b5ce-6c998350e3f5
Column names differ but values match. Marking as match.
Pred SQL error: (psycopg2.errors.UndefinedFunction) function date(unknown, unknown) does not exist
LINE 3: WHERE created_at >= DATE('now', '-1 month')
                            ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT DATE(created_at) AS created_date, COUNT(*) AS num_nodes_created
FROM nodedata
WHERE created_at >= DATE('now', '-1 month')
GROUP BY created_date
ORDER BY created_date;]
(Background on this error at: https://sqlalche.me/e/20/f405)
No match!
Predicted Output:
   instance_type  node_count
0    c5.18xlarge          53
1   c5d.24xlarge          31
2   c6i.24xlarge          12
3   g6e.12xlarge           4
4   p4d.24xlarge         265
5  p4de.24xlarge        1560
6    p5.48xlarge         849
7  p5en.48xlarge          80
8   r5dn.8xlarge           1
9   r6i.24xlarge           5
Gold Output:
   count  instance_type
0      1   r5dn.8xlarge
1      4   g6e.12xlarge
2      5   r6i.24xlarge
3     12   c6i.24xlarge
4     31   c5d.24xlarge
5     53    c5.18xlarge
6     80  p5en.48xlarge
7    265   p4d.24xlarge
8    849    p5.48xlarge
9   1560  p4de.24xlarge
No match!
Predicted Output:
Empty DataFrame
Columns: [cluster_name, running_pods_count]
Index: []
Gold Output:
                cluster_name  running_pod_count
0   colligo-laser01-prod-uw2              18193
1  sensei-eks02-prod-cluster               4303
2  sensei-eks03-prod-cluster                197
3  sensei-eks04-prod-cluster               4829
No match!
Predicted Output:
               cluster_name
0  colligo-laser01-prod-uw2
Gold Output:
               cluster_name  total_gpu_count
0  colligo-laser01-prod-uw2          1408708
Column names differ but values match. Marking as match.
No match!
Predicted Output:
   num_clusters platform
0        503412    runai
1       2539201    pluto
Gold Output:
   cluster_count platform
0              2    pluto
1              4    runai
Pred SQL error: (psycopg2.errors.UndefinedFunction) operator does not exist: boolean = integer
LINE 7:     is_terminated = 1
                          ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT
    cluster_name,
    COUNT(*) AS terminated_pods_count
FROM
    poddata
WHERE
    is_terminated = 1
GROUP BY
    cluster_name
ORDER BY
    terminated_pods_count DESC LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/f405)
No match!
Predicted Output:
                   initiative_name  project_count
0                                              64
1                             BYOA              3
2                        Clio4-T2I              3
3                              DVA              1
4                 Dentro-AI-Safety              1
..                             ...            ...
149         sensei-intern-training              1
150                    sensei-mdsr              7
151                sensei-platform              8
152  system-diagnostics-initiative              1
153                    test-h100-1              1

[154 rows x 2 columns]
Gold Output:
                          initiative_name  project_count
0    0b3d118d-8045-45aa-8ef5-597e287d7aa0              1
1    2477f595-b5aa-452a-b9db-bd89c5967969              5
2    35129e5f-bd27-49a7-bd93-9fd3894ecc0b              1
3    8cfa3975-803d-46db-b951-e83444626bff              1
4                             Experiments              1
..                                    ...            ...
135                            sensei-dev              6
136                sensei-intern-training              1
137                           sensei-mdsr              4
138                       sensei-platform             20
139         system-diagnostics-initiative              1

[140 rows x 2 columns]
Pred SQL error: (psycopg2.errors.UndefinedColumn) column "project_id" does not exist
LINE 1: SELECT DISTINCT project_id
                        ^

[SQL: SELECT DISTINCT project_id
FROM initiativedata
WHERE gpu_quota > 100;]
(Background on this error at: https://sqlalche.me/e/20/f405)
No match!
Predicted Output:
Empty DataFrame
Columns: [initiative_name]
Index: []
Gold Output:
  initiative_name
0       doc-cloud
Pred SQL error: (psycopg2.errors.UndefinedFunction) function date(unknown, unknown) does not exist
LINE 3: WHERE last_metric_received_time < DATE('now', '-1 month');
                                          ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT DISTINCT project
FROM poddata
WHERE last_metric_received_time < DATE('now', '-1 month');]
(Background on this error at: https://sqlalche.me/e/20/f405)
Pred SQL error: (psycopg2.errors.UndefinedColumn) column "project_id" does not exist
LINE 3: GROUP BY project_id;
                 ^

[SQL: SELECT AVG(memory_quota_mb) AS avg_memory_quota_per_project
FROM initiativedata
GROUP BY project_id;]
(Background on this error at: https://sqlalche.me/e/20/f405)
Pred SQL error: (psycopg2.errors.UndefinedFunction) function date(unknown, unknown) does not exist
LINE 3: WHERE created_at >= DATE('now', '-30 days');
                            ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT initiative_name
FROM initiativedata
WHERE created_at >= DATE('now', '-30 days');]
(Background on this error at: https://sqlalche.me/e/20/f405)
No match!
Predicted Output:
Empty DataFrame
Columns: [project, running_pods]
Index: []
Gold Output:
   num_pods project_id
0      9329
Pred SQL error: (psycopg2.errors.UndefinedColumn) column "project_id" does not exist
LINE 1: SELECT nodepool_name, COUNT(DISTINCT project_id) AS project_...
                                             ^

[SQL: SELECT nodepool_name, COUNT(DISTINCT project_id) AS project_count
FROM initiativedata
GROUP BY nodepool_name;]
(Background on this error at: https://sqlalche.me/e/20/f405)
No match!
Predicted Output:
                      project  unique_cluster_count
0                                                 2
1                     ARModel                     1
2      ART-General-Distractor                     1
3            ART-SuperMasking                     1
4    Attribution-and-Insights                     1
..                        ...                   ...
308     video-multiedit-train                     1
309    workshop-may-2024-p4de                     1
310            xPU-Efficiency                     1
311         zero-quota-sensei                     1
312          zipir-train-p4de                     1

[313 rows x 2 columns]
Gold Output:
   cluster_count project_id
0              3
Pred SQL error: (psycopg2.errors.UndefinedFunction) function date(unknown, unknown) does not exist
LINE 3: WHERE date_day >= DATE('now', '-3 month')
                          ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT account_id, SUM(total_spend) AS Total_Spent_Last_Quarter
FROM costs_data
WHERE date_day >= DATE('now', '-3 month')
GROUP BY account_id;]
(Background on this error at: https://sqlalche.me/e/20/f405)
No match!
Predicted Output:
                   product_name    total_cost
0  Amazon Elastic Compute Cloud  1.608614e+06
Gold Output:
                   product_name    total_cost
0  Amazon Elastic Compute Cloud  1.608614e+06
No match!
Predicted Output:
      region  total_usage_hours
0  us-west-2       1.675769e+12
Gold Output:
      region  total_usage_hours
0  us-west-2       1.675769e+12
No match!
Predicted Output:
    avg_cost_per_instance_type  instance_type
0                     0.064091       t2.micro
1                     1.470888       t2.large
2                     1.769249       m5.large
3                     1.989227     m5.4xlarge
4                     2.367666   g4dn.4xlarge
5                     4.724135      c5.xlarge
6                     6.027091    m5.16xlarge
7                     6.059756    g4dn.xlarge
8                    12.169688       c5.large
9                    18.234814  g4dn.12xlarge
10                   19.953995     m5.8xlarge
11                   20.214570  g4dn.16xlarge
12                   21.400205     m5.2xlarge
13                   22.932525     r5.8xlarge
14                   32.053331   g4dn.8xlarge
15                   32.892263   g4dn.2xlarge
16                   33.560310      g5.xlarge
17                   37.131131      m5.xlarge
18                   39.255300  inf2.24xlarge
19                   39.479323     g5.4xlarge
20                   52.928788    r5.16xlarge
21                   53.744494    r5.12xlarge
22                   62.547243    g5.24xlarge
23                   63.859436     g5.8xlarge
24                   68.185478     g4dn.metal
25                   71.098574    m5.12xlarge
26                   71.645694     p3.8xlarge
27                   77.727113    r5.24xlarge
28                   78.894769     p3.2xlarge
29                   81.531908     c5.2xlarge
30                   81.706915     c5.4xlarge
31                   99.158094     g5.2xlarge
32                  125.592692    g5.48xlarge
33                  134.676884   r6i.24xlarge
34                  234.260239     c5.9xlarge
35                  255.877090    c5.18xlarge
36                  456.721791    g5.16xlarge
37                  894.574163    c5.12xlarge
38                 1795.324181    c5.24xlarge
39                 3004.113331    g5.12xlarge
40                 5278.392247  p5en.48xlarge
41                 9217.508532   p4d.24xlarge
42                25904.603346  p4de.24xlarge
43                39562.712734    p5.48xlarge
Gold Output:
    average_cost_per_instance_type  instance_type
0                         0.064091       t2.micro
1                         0.364951      t4g.large
2                         0.614519      c6g.large
3                         0.908005    c6g.8xlarge
4                         1.470888       t2.large
..                             ...            ...
62                     3004.113331    g5.12xlarge
63                     5278.392247  p5en.48xlarge
64                     9217.508532   p4d.24xlarge
65                    25904.603346  p4de.24xlarge
66                    39562.712734    p5.48xlarge

[67 rows x 2 columns]

## Valid Efficiency Score (VES)

$$
VES = \frac{\sum_{i=1}^{N}\mathbb{I}(V_{i}=\hat{V}_{i})\cdot R(Y_{i},\hat{Y}_{i})}{N}, \quad R(Y_{i},\hat{Y}_{i})=\sqrt{\frac{E(Y_{i})}{E(\hat{Y}_{i})}}
$$

Where:
* $N$: The total number of examples (natural language questions) in the dataset.
* $\mathbb{I}(V_{i}=\hat{V}_{i})$: An indicator function that equals 1 if the executed results of the predicted SQL query ($\hat{V}_{i}$) exactly match the executed results of the ground-truth SQL query ($V_{i}$) for the $i$-th example, and 0 otherwise.
* $R(Y_{i},\hat{Y}_{i})$: The relative execution efficiency, calculated as the square root of the ratio of the execution time of the ground-truth SQL query ($E(Y_{i})$) to the execution time of the predicted SQL query ($E(\hat{Y}_{i})$).
* $Y_i$: The ground-truth SQL query for the $i$-th example.
* $\hat{Y}_i$: The predicted SQL query for the $i$-th example.
* $E(\cdot)$: A function that represents the execution time of an SQL query on the database.

In [11]:
import time
import numpy as np

def measure_execution_time(engine, sql):
    start = time.time()
    try:
        _ = pd.read_sql_query(sql, engine)
    except Exception:
        return None  # If query fails, return None
    return time.time() - start

def exec_match_and_efficiency(engine, pred_sql, gold_sql):
    # Run and compare outputs (order/column-insensitive)
    try:
        pred_res = pd.read_sql_query(pred_sql, engine)
        gold_res = pd.read_sql_query(gold_sql, engine)
    except Exception:
        return 0, None  # Not valid, no efficiency score

    # Sort columns and rows for comparison
    pred_res_sorted = pred_res.reindex(sorted(pred_res.columns), axis=1)
    gold_res_sorted = gold_res.reindex(sorted(gold_res.columns), axis=1)
    pred_res_sorted = pred_res_sorted.sort_values(by=list(pred_res_sorted.columns)).reset_index(drop=True)
    gold_res_sorted = gold_res_sorted.sort_values(by=list(gold_res_sorted.columns)).reset_index(drop=True)

    # Check for match (including value-only match)
    is_match = False
    if pred_res_sorted.equals(gold_res_sorted):
        is_match = True
    elif pred_res_sorted.shape == gold_res_sorted.shape and (pred_res_sorted.values == gold_res_sorted.values).all():
        is_match = True

    if not is_match:
        return 0, None

    # Measure execution times
    gold_time = measure_execution_time(engine, gold_sql)
    pred_time = measure_execution_time(engine, pred_sql)
    if gold_time is None or pred_time is None or pred_time == 0:
        return 1, 0  # Valid match, but can't compute efficiency

    # Compute efficiency ratio
    R = np.sqrt(gold_time / pred_time)
    return 1, R

def valid_efficiency_score(engine, gold_examples, pred_examples):
    N = len(gold_examples)
    valid_count = 0
    R_sum = 0
    for gold, pred in zip(gold_examples, pred_examples):
        gold_sql = gold.get('query') or gold.get('gold_sql')
        pred_sql = pred.get('query') or pred.get('predicted_sql')
        match, R = exec_match_and_efficiency(engine, pred_sql, gold_sql)
        if match:
            valid_count += 1
            if R is not None:
                R_sum += R
    VES = R_sum / N
    print(f"Valid Efficiency Score (VES): {VES:.4f}")
    return VES

In [12]:
with open('/Users/adityakumarraj/Desktop/Evaluation Metrics/json files/generated_queries_SQL_Coder_34b.json', 'r') as f:
    gold_examples = json.load(f)
with open('/Users/adityakumarraj/Desktop/Evaluation Metrics/json files/generated_queries.json', 'r') as f:
    pred_examples = json.load(f)

valid_efficiency_score(db_engine, gold_examples, pred_examples)

Valid Efficiency Score (VES): 0.2843

np.float64(0.28426946404794984)

# Content Matching Based

## Set (Token-Jaccard) Match

$$
J(Q_{gold}, Q_{pred}) = \frac{|Tokens(Q_{gold}) \cap Tokens(Q_{pred})|}{|Tokens(Q_{gold}) \cup Tokens(Q_{pred})|}
$$

Where:
* $Q_{gold}$: The ground-truth SQL query.
* $Q_{pred}$: The predicted SQL query.
* $Tokens(Q)$: The set of unique tokens extracted from an SQL query $Q$.
* $\cap$: Represents the intersection of two sets (tokens common to both queries).
* $\cup$: Represents the union of two sets (all unique tokens from both queries combined).
* $| \cdot |$: Denotes the cardinality (number of elements) of a set.

In [8]:
import re
from typing import List, Dict, Tuple
from statistics import mean

CLAUSES = ["select", "from", "where", "group by", "having", "order by", "limit"]

def normalize_sql(sql: str) -> str:
    """Lowercase, strip trailing semicolon, collapse whitespace."""
    s = sql.strip().rstrip(";")
    s = re.sub(r"\s+", " ", s)
    return s.lower()

def tokenize(sql: str) -> List[str]:
    """Very simple SQL tokenizer."""
    return re.findall(r"\w+|\S", sql.lower())

def extract_clause_body(sql: str, clause: str) -> str:
    """
    Return the body of a clause (e.g. everything after 'where' up to the next clause).
    If clause not in sql, returns empty string.
    """
    sql_l = sql.lower()
    pat = (
        rf"{clause}\s+(.+?)(?="
        + r"|".join(rf"\b{c}\b" for c in CLAUSES if c != clause)
        + r"|$)"
    )
    m = re.search(pat, sql_l, flags=re.DOTALL)
    return m.group(1).strip() if m else ""

def compute_EM(gold: str, pred: str) -> int:
    """Exact match (normalized)."""
    return int(normalize_sql(gold) == normalize_sql(pred))

def compute_SM(gold: str, pred: str) -> float:
    """Set (token-Jaccard) match."""
    tg = set(tokenize(normalize_sql(gold)))
    tp = set(tokenize(normalize_sql(pred)))
    if not tg and not tp:
        return 1.0
    return len(tg & tp) / len(tg | tp)

def compute_CM(gold: str, pred: str) -> float:
    """
    Fraction of gold clauses (that appear in the gold SQL)
    whose token‐sets exactly match in pred SQL.
    """
    norm_g = normalize_sql(gold)
    norm_p = normalize_sql(pred)
    matches = 0
    total = 0
    for c in CLAUSES:
        body_g = extract_clause_body(norm_g, c)
        if not body_g:
            continue
        total += 1
        body_p = extract_clause_body(norm_p, c)
        if set(tokenize(body_g)) == set(tokenize(body_p)):
            matches += 1
    return matches / total if total else 1.0

def evaluate_all(examples: List[Dict[str,str]]) -> Tuple[float,float,float]:
    """
    examples: list of dicts with keys 'gold_sql' and 'predicted_sql'
    Returns (EM_acc, CM_acc, SM_avg)
    """
    ems, cms, sms = [], [], []
    for ex in examples:
        gold = ex["gold_sql"]
        pred = ex["predicted_sql"]
        ems.append(compute_EM(gold, pred))
        cms.append(compute_CM(gold, pred))
        sms.append(compute_SM(gold, pred))
    return mean(ems), mean(cms), mean(sms)

In [38]:
import json

# Load gold and predicted SQLs
with open('/Users/adityakumarraj/Desktop/Evaluation Metrics/json files/gold_sql.json', 'r') as f:
    gold_examples = json.load(f)
with open('/Users/adityakumarraj/Desktop/Evaluation Metrics/json files/generated_queries_OmniSQL.json', 'r') as f:
    pred_examples = json.load(f)

# Build the examples list for evaluation
examples = []
for gold, pred in zip(gold_examples, pred_examples):
    # Use the correct keys from your files
    gold_sql = gold.get('query') or gold.get('gold_sql')
    pred_sql = pred.get('query') or pred.get('predicted_sql')
    examples.append({
        "gold_sql": gold_sql,
        "predicted_sql": pred_sql
    })

# Now you can use your evaluate_all function
EM_acc, CM_acc, SM_avg = evaluate_all(examples)
print(f"Set (Token-Jaccard) Match:    {SM_avg*100:.2f}%")

Set (Token-Jaccard) Match:    65.19%

## Component Matching

1.  **Breaks down SQL queries into components:**
    * **SELECT columns:** What columns are being selected
    * **Tables:** Which tables are being queried (`FROM` clause)
    * **WHERE conditions:** Filter conditions applied
    * **GROUP BY columns:** Grouping specifications
    * **ORDER BY columns:** Sorting specifications
    * **Aggregations:** Functions like `MAX`, `MIN`, `COUNT`, `SUM`, `AVG`, `LOWER`, `UPPER`
    * **Keywords:** Special keywords like `LIMIT` and `DISTINCT`

2.  **Compares each component separately:**
    For each component, it calculates:
    * **Precision:** What percentage of predicted items are correct
    * **Recall:** What percentage of gold items were found
    * **F1 Score:** Harmonic mean of precision and recall

For each SQL component $c \in \{SELECT, FROM, WHERE, GROUP BY, ORDER BY, AGGREGATIONS, KEYWORDS\}$, we define:

### Component-wise Precision, Recall, and F1

Given predicted components $P_c$ and gold components $G_c$ for component type $c$:

$$\text{Precision}_c = \frac{|P_c \cap G_c|}{|P_c|}$$

$$\text{Recall}_c = \frac{|P_c \cap G_c|}{|G_c|}$$

$$\text{F1}_c = \frac{2 \times \text{Precision}_c \times \text{Recall}_c}{\text{Precision}_c + \text{Recall}_c}$$

### Overall Component Match Score

The overall Component Match score is calculated as the macro-average F1 score across all components:

$$\text{CM} = \frac{1}{|C|} \sum_{c \in C} \text{F1}_c$$

where $C = \{SELECT, FROM, WHERE, GROUP BY, ORDER BY, AGGREGATIONS, KEYWORDS\}$

In [46]:
from partial_component_matching import evaluate_all_partial_matches
if __name__ == "__main__":
    # Load your data
    with open('/Users/adityakumarraj/Desktop/Evaluation Metrics/json files/gold_sql.json', 'r') as f:
        gold_examples = json.load(f)
    
    # You can test with different generated query files
    generated_files = [
        '/Users/adityakumarraj/Desktop/Evaluation Metrics/json files/generated_queries_OmniSQL.json'
    ]
    
    for gen_file in generated_files:
        print(f"\n{'='*70}")
        print(f"Evaluating: {gen_file}")
        print('='*70)
        
        with open(gen_file, 'r') as f:
            pred_examples = json.load(f)
        
        # Evaluate partial matches
        partial_results = evaluate_all_partial_matches(gold_examples, pred_examples)
        
        # Print results
        print("\n==================== PARTIAL COMPONENT MATCHING ====================\n")
        print(f"{'Component':<15} {'Precision':<12} {'Recall':<12} {'F1':<12}")
        print("-" * 55)
        for component, scores in partial_results.items():
            print(f"{component:<15} {scores['precision']:<12.3f} {scores['recall']:<12.3f} {scores['f1']:<12.3f}")
        
        # Overall average
        overall_precision = mean([scores['precision'] for scores in partial_results.values()])
        overall_recall = mean([scores['recall'] for scores in partial_results.values()])
        overall_f1 = mean([scores['f1'] for scores in partial_results.values()])
        print("-" * 55)
        print(f"{'OVERALL':<15} {overall_precision:<12.3f} {overall_recall:<12.3f} {overall_f1:<12.3f}")

======================================================================
Evaluating: /Users/adityakumarraj/Desktop/Evaluation Metrics/json files/generated_queries_OmniSQL.json
======================================================================

==================== PARTIAL COMPONENT MATCHING ====================

Component       Precision    Recall       F1
-------------------------------------------------------
select          0.303        0.303        0.301
tables          0.258        0.275        0.264
where           0.575        0.575        0.575
group_by        0.633        0.625        0.628
order_by        0.467        0.467        0.467
aggregations    0.933        0.925        0.928
keywords        0.733        0.725        0.728
-------------------------------------------------------
OVERALL         0.558        0.556        0.556

## Hardness based evaluation

In [11]:
from sql_hardness_classifier import SQLHardnessClassifier
from sql_hardness_classifier import classify_queries_from_json, print_hardness_distribution

if __name__ == "__main__":
    # Example usage
    classifier = SQLHardnessClassifier()
    
    # Test with your JSON files
    json_files = [
        'gold_sql.json',
    ]
    
    for json_file in json_files:
        try:
            print(f"\n\nAnalyzing: {json_file}")
            print("="*70)
            
            results = classify_queries_from_json(json_file)
            print_hardness_distribution(results)
            
        except FileNotFoundError:
            print(f"File {json_file} not found. Skipping...")

Analyzing: gold_sql.json
======================================================================

==================== HARDNESS DISTRIBUTION ====================
Total queries: 8

EASY         2 queries ( 25.0%)
MEDIUM       5 queries ( 62.5%)
HARD         0 queries (  0.0%)
EXTRA        1 queries ( 12.5%)

===============================================================

In [12]:
from hardness_performance_evaluator import HardnessPerformanceEvaluator

evaluator = HardnessPerformanceEvaluator(db_engine)
with open('generated_queries_SQL_Coder_with_RAG.json', 'r') as f:
    pred_examples = json.load(f)

results = evaluator.evaluate_by_hardness(gold_examples, pred_examples)
evaluator.print_performance_report(results, "SQL_Coder_with_RAG")

# Compare multiple models

============================================================
GOLD QUERY HARDNESS CLASSIFICATION
============================================================

------------------------------------------------------------
DISTRIBUTION SUMMARY:
EASY         2 queries ( 25.0%)
MEDIUM       5 queries ( 62.5%)
HARD         0 queries (  0.0%)
EXTRA        1 queries ( 12.5%)
------------------------------------------------------------

================================================================================
PERFORMANCE REPORT BY HARDNESS LEVEL: SQL_Coder_with_RAG
================================================================================

Hardness   Count    Exec Acc     Avg F1
--------------------------------------------------
easy       2        100.00%      100.00%
medium     5        80.00%       88.57%
extra      1        100.00%      100.00%
--------------------------------------------------
OVERALL    8        87.50%

================================================================================
DETAILED BREAKDOWN BY HARDNESS LEVEL
================================================================================

EASY QUERIES (n=2)
----------------------------------------

Partial Component Matching:
  Component       Precision  Recall     F1
  ---------------------------------------------
  select          100.00%    100.00%    100.00%
  tables          100.00%    100.00%    100.00%
  where           100.00%    100.00%    100.00%
  group_by        100.00%    100.00%    100.00%
  order_by        100.00%    100.00%    100.00%
  aggregations    100.00%    100.00%    100.00%
  keywords        100.00%    100.00%    100.00%

MEDIUM QUERIES (n=5)
----------------------------------------

Error Types:
  wrong_result           1 ( 20.0%)

Partial Component Matching:
  Component       Precision  Recall     F1
  ---------------------------------------------
  select          80.00%     80.00%     80.00%
  tables          80.00%     80.00%     80.00%
  where           100.00%    100.00%    100.00%
  group_by        80.00%     80.00%     80.00%
  order_by        80.00%     80.00%     80.00%
  aggregations    100.00%    100.00%    100.00%
  keywords        100.00%    100.00%    100.00%

EXTRA QUERIES (n=1)
----------------------------------------

Partial Component Matching:
  Component       Precision  Recall     F1
  ---------------------------------------------
  select          100.00%    100.00%    100.00%
  tables          100.00%    100.00%    100.00%
  where           100.00%    100.00%    100.00%
  group_by        100.00%    100.00%    100.00%
  order_by        100.00%    100.00%    100.00%
  aggregations    100.00%    100.00%    100.00%
  keywords        100.00%    100.00%    100.00%

In [13]:
model_files = {
    'XIYAN_SQL': 'generated_queries_XIYAN_SQL.json',
    'SQL_Coder': 'generated_queries_SQL_Coder.json',
    'SQL_Coder_with_RAG': 'generated_queries_SQL_Coder_with_RAG.json'
}
all_results = evaluator.compare_models('gold_sql.json', model_files)

====================================================================================================
MODEL COMPARISON BY HARDNESS LEVEL
====================================================================================================

EXECUTION ACCURACY:
Model                          Easy         Medium       Hard         Extra        Overall
------------------------------------------------------------------------------------------
XIYAN_SQL                     50.00%      60.00%      N/A         0.00%       50.00%
SQL_Coder                     100.00%     40.00%      N/A         0.00%       50.00%
SQL_Coder_with_RAG            100.00%     80.00%      N/A         100.00%     87.50%

In [20]:
from additional_eval_metrics import evaluate_keyword_presence

# Evaluate keywords for all queries in your files
keyword_results = evaluate_keyword_presence('gold_sql.json', 'generated_queries_XIYAN_SQL.json')
print(keyword_results)

{'where': 1.0, 'group': 1.0, 'having': 1.0, 'order': 1.0, 'limit': 1.0, 'distinct': 1.0, 'join': 1.0, 'left_join': 1.0, 'right_join': 1.0, 'inner_join': 1.0, 'not': 1.0, 'in': 1.0, 'like': 1.0, 'between': 1.0, 'exists': 1.0}