# Execution Based Metrices

## Execution Validity

In [ ]:
from additional_eval_metrics import print_validity_analysis

# Print validity table for all queries
print_validity_analysis('gold_sql.json', 'generated_queries_XIYAN_SQL.json', db_engine)

================================================================================
SQL QUERY VALIDITY ANALYSIS
================================================================================

SUMMARY:
Total Queries: 8
Gold Valid: 8/8 (100.0%)
Predicted Valid: 8/8 (100.0%)
Both Valid: 8/8 (100.0%)

--------------------------------------------------------------------------------
DETAILED RESULTS:
--------------------------------------------------------------------------------
ID  Question                                                     Gold   Pred   Both
--------------------------------------------------------------------------------
1   Show the number of nodes created per day                     ✅      ✅      ✅
2   How many pods have current state running?                    ✅      ✅      ✅
3   How many nodes are there per cluster?                        ✅      ✅      ✅
4   What are the account id of the products that have ...        ✅      ✅      ✅
5   Show me the clusters that have more than 5 nodes, ...        ✅      ✅      ✅
6   From how many projects did the last time we fetche...        ✅      ✅      ✅
7   What is the distribution of instance types?                  ✅      ✅      ✅
8   What are all the nodes in the 'sensei-eks01-prod-c...        ✅      ✅      ✅

In [1]:
from sqlalchemy import create_engine
db_engine = create_engine("postgresql+psycopg2://adityakumarraj:Aa%%407909013706@localhost:5432/data")

In [2]:
import json
import pandas as pd

# Load queries from JSON file
with open('generated_queries_XIYAN_SQL.json', 'r') as f:
    queries = json.load(f)

# Execute each query and print results
for item in queries:
    question = item['question']
    query = item['query']
    print(f'Question: {question}')
    print(f'Query: {query}')
    try:
        df = pd.read_sql_query(query, db_engine)
        display(df)
    except Exception as e:
        print(f'Error executing query: {e}')
    print('-' * 80)

Question: Show the number of nodes created per day
Query: SELECT DATE(created) AS creation_date, COUNT(*) AS number_of_nodes_created FROM nodedata GROUP BY DATE(created) ORDER BY creation_date;

   creation_date  number_of_nodes_created
0     2023-12-07                        8
1     2024-06-27                        1
2     2024-07-19                        3
3     2024-08-07                        3
4     2024-09-04                        1
..           ...                      ...
85    2025-05-11                        4
86    2025-05-12                       21
87    2025-05-13                       34
88    2025-05-14                       11
89    2025-05-15                        4

[90 rows x 2 columns]

--------------------------------------------------------------------------------
Question: How many pods have current state running?
Query: SELECT COUNT(*) FROM poddata WHERE state = 'Running';

    count
0  173491

--------------------------------------------------------------------------------
Question: How many nodes are there per cluster?
Query: SELECT clustername, COUNT(nodeid) AS number_of_nodes FROM nodedata GROUP BY clustername;

                      clustername  number_of_nodes
0       sensei-eks04-prod-cluster              420
1       sensei-eks01-prod-cluster               11
2        colligo-laser01-prod-uw2             2195
3  colligo-laser-control-prod-uw2                7
4       sensei-eks02-prod-cluster              188
5       sensei-eks03-prod-cluster               39

--------------------------------------------------------------------------------
Question: What are the account id of the products that have category as 'COMPUTE-RI' and subcategory as 'H200-RI' in the month of April 2025?
Query: SELECT account_id FROM costs_data WHERE category = 'COMPUTE-RI' AND subcategory = 'H200-RI' AND date_day >= '2025-04-01' AND date_day < '2025-05-01';

      account_id
0   300610508385
1   300610508385
2   300610508385
3   300610508385
4   300610508385
5   300610508385
6   300610508385
7   300610508385
8   300610508385
9   300610508385
10  300610508385
11  300610508385
12  300610508385
13  300610508385
14  300610508385
15  300610508385
16  300610508385
17  300610508385
18  300610508385
19  300610508385
20  300610508385
21  300610508385
22  300610508385
23  300610508385
24  300610508385
25  300610508385
26  300610508385
27  300610508385
28  300610508385
29  300610508385

--------------------------------------------------------------------------------
Question: Show me the clusters that have more than 5 nodes, grouped by platform
Query: SELECT clustername, platform, COUNT(nodeid) AS node_count FROM nodedata GROUP BY clustername, platform HAVING COUNT(nodeid) > 5;

                      clustername platform  node_count
0       sensei-eks02-prod-cluster    runai         188
1  colligo-laser-control-prod-uw2    pluto           7
2        colligo-laser01-prod-uw2    pluto        2195
3       sensei-eks04-prod-cluster    runai         420
4       sensei-eks01-prod-cluster    runai          11
5       sensei-eks03-prod-cluster    runai          39

--------------------------------------------------------------------------------
Question: From how many projects did the last time we fetched metadata lies in last month
Query: SELECT COUNT(DISTINCT projectid) AS number_of_projects FROM projectdata WHERE lastfetched >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND lastfetched < DATE_TRUNC('month', CURRENT_DATE);

   number_of_projects
0                  40

--------------------------------------------------------------------------------
Question: What is the distribution of instance types?
Query: SELECT instancetype, COUNT(*) AS instance_count FROM node_data GROUP BY instancetype ORDER BY instance_count DESC;

    instancetype  instance_count
0  p4de.24xlarge            1560
1    p5.48xlarge             849
2   p4d.24xlarge             265
3  p5en.48xlarge              80
4    c5.18xlarge              53
5   c5d.24xlarge              31
6   c6i.24xlarge              12
7   r6i.24xlarge               5
8   g6e.12xlarge               4
9   r5dn.8xlarge               1

--------------------------------------------------------------------------------
Question: What are all the nodes in the 'sensei-eks01-prod-cluster' cluster?
Query: SELECT * FROM node_data WHERE clustername = 'sensei-eks01-prod-cluster';

,nodeid,nodename,clustername,instancetype,tags,created,snapshottime,platform
0,i-0ed1ca2cb5e64d8e9,ip-10-66-79-46.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'aws:autoscaling:groupName': 'eks-sensei-eks0...,2023-12-07 09:48:21,2025-05-15 08:59:18.229355,runai
1,i-083522813bf57b7d5,ip-10-66-73-195.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'aws:ec2launchtemplate:id': 'lt-0bf93acac7f1e...,2023-12-07 09:52:30,2025-05-15 08:59:18.229355,runai
2,i-02177e7a59ec77230,ip-10-66-78-145.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'Adobe.Project': 'Sensei-EKS'; 'aws:ec2:fleet...,2024-11-17 19:02:20,2025-05-15 08:59:18.229355,runai
3,i-0734be286729c0a12,ip-10-66-76-245.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'Adobe.Owner': 'Sensei Ops'; 'aws:ec2launchte...,2023-12-07 09:52:18,2025-05-15 08:59:18.229355,runai
4,i-019aa9f6e250dccea,ip-10-66-77-114.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'aws:ec2launchtemplate:id': 'lt-0bf93acac7f1e...,2023-12-07 09:52:41,2025-04-22 22:29:18.226221,runai
5,i-08555efeb022d20b1,ip-10-66-74-99.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'Adobe.CostCenter': '102841'; 'Adobe.ArchPath...,2023-12-07 09:48:19,2025-05-15 08:59:18.229355,runai
6,i-0523a2e856f0d9127,ip-10-66-75-81.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'Adobe.Project': 'Sensei-EKS'; 'aws:eks:clust...,2023-12-07 09:48:17,2025-05-15 08:59:18.229355,runai
7,i-09231637b188ef003,ip-10-66-77-246.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'Name': 'sensei-eks01-prod-cpu-ng-01'; 'aws:e...,2023-12-07 09:52:32,2025-05-15 08:59:18.229355,runai
8,i-0b21b89869cfe284d,ip-10-66-79-69.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'aws:ec2launchtemplate:id': 'lt-0bf93acac7f1e...,2024-11-17 06:46:42,2025-05-15 08:59:18.229355,runai
9,i-09e59497c84033095,ip-10-66-72-210.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'eks:nodegroup-name': 'sensei-eks01-prod-cpu-...,2025-04-22 22:12:26,2025-05-15 08:59:18.229355,runai
10,i-062ccb8ee28281ea9,ip-10-66-78-84.us-west-2.compute.internal,sensei-eks01-prod-cluster,c5.18xlarge,{'Adobe.Project': 'Sensei-EKS'; 'Adobe.CostCen...,2023-12-07 09:48:20,2025-05-15 08:59:18.229355,runai

--------------------------------------------------------------------------------

In [3]:
import json
import pandas as pd

# Load queries from JSON file
with open('generated_queries_SQL_Coder_with_RAG.json', 'r') as f:
    queries = json.load(f)

# Execute each query and print results
for item in queries:
    question = item['question']
    query = item['query']
    print(f'Question: {question}')
    print(f'Query: {query}')
    try:
        df = pd.read_sql_query(query, db_engine)
        display(df)
    except Exception as e:
        print(f'Error executing query: {e}')
    print('-' * 80)

Question: Show the number of nodes created per day
Query: SELECT n.created::DATE AS creation_date,
       COUNT(*) AS number_of_nodes
FROM nodedata n
GROUP BY creation_date
ORDER BY creation_date NULLS LAST;

   creation_date  number_of_nodes
0     2023-12-07                8
1     2024-06-27                1
2     2024-07-19                3
3     2024-08-07                3
4     2024-09-04                1
..           ...              ...
85    2025-05-11                4
86    2025-05-12               21
87    2025-05-13               34
88    2025-05-14               11
89    2025-05-15                4

[90 rows x 2 columns]

--------------------------------------------------------------------------------
Question: How many pods have current state running?
Query: SELECT COUNT(*)
FROM poddata p
WHERE LOWER(p.state) = 'running';

    count
0  173491

--------------------------------------------------------------------------------
Question: How many nodes are there per cluster?
Query: SELECT n.clustername,
       COUNT(*) AS node_count
FROM nodedata n
GROUP BY n.clustername
ORDER BY n.clustername NULLS LAST;

                      clustername  node_count
0  colligo-laser-control-prod-uw2           7
1        colligo-laser01-prod-uw2        2195
2       sensei-eks01-prod-cluster          11
3       sensei-eks02-prod-cluster         188
4       sensei-eks03-prod-cluster          39
5       sensei-eks04-prod-cluster         420

--------------------------------------------------------------------------------
Question: What are the account id of the products that have category as 'COMPUTE-RI' and subcategory as 'H200-RI' in the month of April 2025?
Query: SELECT DISTINCT cd.account_id
FROM costs_data cd
WHERE cd.category = 'COMPUTE-RI'
  AND cd.subcategory = 'H200-RI'
  AND cd.date_day >= '2025-04-01'
  AND cd.date_day < '2025-05-01';

     account_id
0  300610508385

--------------------------------------------------------------------------------
Question: Show me the clusters that have more than 5 nodes, grouped by platform
Query: SELECT n.platform,
       COUNT(n.nodeid) AS node_count
FROM nodedata n
GROUP BY n.platform
HAVING COUNT(n.nodeid) > 5
ORDER BY n.platform NULLS LAST;

  platform  node_count
0    pluto        2202
1    runai         658

--------------------------------------------------------------------------------
Question: From how many projects did the last time we fetched metadata lies in last month
Query: SELECT COUNT(DISTINCT pd.projectid)
FROM projectdata pd
WHERE pd.lastfetched >= (CURRENT_DATE - INTERVAL '1 month')
  AND pd.lastfetched < CURRENT_DATE;

   count
0    399

--------------------------------------------------------------------------------
Question: What is the distribution of instance types?
Query: SELECT itm.instance_type,
       COUNT(*) AS instance_count
FROM instance_type_metadata itm
JOIN costs_data cd ON itm.instance_type = cd.instancetype
GROUP BY itm.instance_type
ORDER BY instance_count DESC NULLS LAST;

    instance_type  instance_count
0    p4d.24xlarge             488
1     p5.48xlarge             338
2     g5.12xlarge             296
3   p4de.24xlarge             285
4      c5.4xlarge             282
5     c5.18xlarge             244
6     c5.12xlarge             222
7      c5.9xlarge             186
8      g5.4xlarge             185
9        c5.large             148
10     m5.2xlarge             148
11  p5en.48xlarge             147
12       t2.micro             140
13      m5.xlarge             133
14   r6i.24xlarge             111
15      c5.xlarge             111
16       m5.large              83
17    c5.24xlarge              75
18    r5.16xlarge              74
19    r5.12xlarge              74
20    r5.24xlarge              74
21       t2.large              74
22     c5.2xlarge              74
23      g5.xlarge              56
24     m5.8xlarge              39
25     r5.8xlarge              39
26    m5.16xlarge              38
27     g5.8xlarge              37
28     p3.2xlarge              37
29   g4dn.2xlarge              37
30     g5.2xlarge              37
31    g5.24xlarge              37
32    g4dn.xlarge              37
33    g5.16xlarge              37
34   g4dn.8xlarge              37
35    m5.12xlarge              37
36  inf2.24xlarge              37
37     m5.4xlarge              17
38  g4dn.16xlarge              17
39  g4dn.12xlarge              14
40   g4dn.4xlarge               9
41     g4dn.metal               8
42     p3.8xlarge               7
43    g5.48xlarge               2

--------------------------------------------------------------------------------
Question: What are all the nodes in the 'sensei-eks01-prod-cluster' cluster?
Query: SELECT n.nodename
FROM nodedata n
WHERE n.clustername ='sensei-eks01-prod-cluster';

                                      nodename
0    ip-10-66-79-46.us-west-2.compute.internal
1   ip-10-66-73-195.us-west-2.compute.internal
2   ip-10-66-78-145.us-west-2.compute.internal
3   ip-10-66-76-245.us-west-2.compute.internal
4   ip-10-66-77-114.us-west-2.compute.internal
5    ip-10-66-74-99.us-west-2.compute.internal
6    ip-10-66-75-81.us-west-2.compute.internal
7   ip-10-66-77-246.us-west-2.compute.internal
8    ip-10-66-79-69.us-west-2.compute.internal
9   ip-10-66-72-210.us-west-2.compute.internal
10   ip-10-66-78-84.us-west-2.compute.internal

--------------------------------------------------------------------------------

In [4]:
import json
import pandas as pd

# Load queries from JSON file
with open('generated_queries_SQL_Coder.json', 'r') as f:
    queries = json.load(f)

# Execute each query and print results
for item in queries:
    question = item['question']
    query = item['query']
    print(f'Question: {question}')
    print(f'Query: {query}')
    try:
        df = pd.read_sql_query(query, db_engine)
        display(df)
    except Exception as e:
        print(f'Error executing query: {e}')
    print('-' * 80)

Question: Show the number of nodes created per day
Query: SELECT n.nodename,
       COUNT(*) AS num_nodes,
       DATE_TRUNC('day', n.created) AS creation_date
FROM nodedata n
GROUP BY n.nodename,
         DATE_TRUNC('day', n.created)
ORDER BY creation_date NULLS LAST;

                                         nodename  num_nodes creation_date
0      ip-10-66-73-195.us-west-2.compute.internal          1    2023-12-07
1       ip-10-66-74-99.us-west-2.compute.internal          1    2023-12-07
2       ip-10-66-75-81.us-west-2.compute.internal          1    2023-12-07
3      ip-10-66-76-245.us-west-2.compute.internal          1    2023-12-07
4      ip-10-66-77-114.us-west-2.compute.internal          1    2023-12-07
...                                           ...        ...           ...
2855   ip-10-91-93-128.us-west-2.compute.internal          1    2025-05-14
2856  ip-10-90-114-162.us-west-2.compute.internal          1    2025-05-15
2857  ip-10-90-204-207.us-west-2.compute.internal          1    2025-05-15
2858   ip-10-90-26-250.us-west-2.compute.internal          1    2025-05-15
2859   ip-10-91-183-78.us-west-2.compute.internal          1    2025-05-15

[2860 rows x 3 columns]

--------------------------------------------------------------------------------
Question: How many pods have current state running?
Query: SELECT COUNT(*)
FROM poddata pd
WHERE LOWER(pd.state) = 'running';

    count
0  173491

--------------------------------------------------------------------------------
Question: How many nodes are there per cluster?
Query: SELECT n.clustername,
       COUNT(*) AS node_count
FROM nodedata n
GROUP BY n.clustername
ORDER BY n.clustername NULLS LAST;

                      clustername  node_count
0  colligo-laser-control-prod-uw2           7
1        colligo-laser01-prod-uw2        2195
2       sensei-eks01-prod-cluster          11
3       sensei-eks02-prod-cluster         188
4       sensei-eks03-prod-cluster          39
5       sensei-eks04-prod-cluster         420

--------------------------------------------------------------------------------
Question: What are the account id of the products that have category as 'COMPUTE-RI' and subcategory as 'H200-RI' in the month of April 2025?
Query: SELECT cd.account_id
FROM costs_data cd
WHERE cd.category = 'COMPUTE-RI'
  AND cd.subcategory = 'H200-RI'
  AND cd.date_day >= '2025-04-01'
  AND cd.date_day < '2025-05-01';

      account_id
0   300610508385
1   300610508385
2   300610508385
3   300610508385
4   300610508385
5   300610508385
6   300610508385
7   300610508385
8   300610508385
9   300610508385
10  300610508385
11  300610508385
12  300610508385
13  300610508385
14  300610508385
15  300610508385
16  300610508385
17  300610508385
18  300610508385
19  300610508385
20  300610508385
21  300610508385
22  300610508385
23  300610508385
24  300610508385
25  300610508385
26  300610508385
27  300610508385
28  300610508385
29  300610508385

--------------------------------------------------------------------------------
Question: Show me the clusters that have more than 5 nodes, grouped by platform
Query: SELECT pd.clustername,
       COUNT(pd.node_name) AS node_count,
       pd.platform
FROM poddata pd
GROUP BY pd.clustername,
         pd.platform
HAVING COUNT(pd.node_name) > 5
ORDER BY pd.clustername,
         pd.platform NULLS LAST;

                 clustername  node_count platform
0   colligo-laser01-prod-uw2      190151    pluto
1  sensei-eks02-prod-cluster        8819    runai
2  sensei-eks03-prod-cluster         494    runai
3  sensei-eks04-prod-cluster       12890    runai

--------------------------------------------------------------------------------
Question: From how many projects did the last time we fetched metadata lies in last month
Query: SELECT COUNT(DISTINCT pd.project_id)
FROM projectdata pd
WHERE pd.lastfetched > CURRENT_DATE - INTERVAL '1 month';
Error executing query: (psycopg2.errors.UndefinedColumn) column pd.project_id does not exist
LINE 1: SELECT COUNT(DISTINCT pd.project_id)
                              ^
HINT:  Perhaps you meant to reference the column "pd.projectid".

[SQL: SELECT COUNT(DISTINCT pd.project_id)
FROM projectdata pd
WHERE pd.lastfetched > CURRENT_DATE - INTERVAL '1 month';]
(Background on this error at: https://sqlalche.me/e/20/f405)
--------------------------------------------------------------------------------
Question: What is the distribution of instance types?
Query: SELECT n.instancetype,
       COUNT(*) AS COUNT
FROM nodedata n
GROUP BY n.instancetype
ORDER BY COUNT DESC NULLS LAST;

    instancetype  count
0  p4de.24xlarge   1560
1    p5.48xlarge    849
2   p4d.24xlarge    265
3  p5en.48xlarge     80
4    c5.18xlarge     53
5   c5d.24xlarge     31
6   c6i.24xlarge     12
7   r6i.24xlarge      5
8   g6e.12xlarge      4
9   r5dn.8xlarge      1

--------------------------------------------------------------------------------
Question: What are all the nodes in the 'sensei-eks01-prod-cluster' cluster?
Query: SELECT DISTINCT n.nodename
FROM nodedata n
WHERE n.clustername ='sensei-eks01-prod-cluster';

                                      nodename
0   ip-10-66-72-210.us-west-2.compute.internal
1   ip-10-66-73-195.us-west-2.compute.internal
2    ip-10-66-74-99.us-west-2.compute.internal
3    ip-10-66-75-81.us-west-2.compute.internal
4   ip-10-66-76-245.us-west-2.compute.internal
5   ip-10-66-77-114.us-west-2.compute.internal
6   ip-10-66-77-246.us-west-2.compute.internal
7   ip-10-66-78-145.us-west-2.compute.internal
8    ip-10-66-78-84.us-west-2.compute.internal
9    ip-10-66-79-46.us-west-2.compute.internal
10   ip-10-66-79-69.us-west-2.compute.internal

--------------------------------------------------------------------------------

## Execution Accuracy

$$
EX = \frac{\sum_{i=1}^{N}\mathbb{I}(V_{i}=\hat{V}_{i})}{N}
$$

Where:
* $N$: The total number of examples (natural language questions) in the dataset.
* $\mathbb{I}(V_{i}=\hat{V}_{i})$: An indicator function that equals 1 if the executed results of the predicted SQL query ($\hat{V}_{i}$) exactly match the executed results of the ground-truth SQL query ($V_{i}$) for the $i$-th example, and 0 otherwise.

In [15]:
import json
import pandas as pd

# Load gold SQLs and generated SQLs
with open('gold_sql.json', 'r') as f:
    gold_examples = json.load(f)

with open('generated_queries_SQL_Coder_with_RAG.json', 'r') as f:
    generated_examples = json.load(f)

assert len(gold_examples) == len(generated_examples), "Mismatch in number of gold and generated queries"

def exec_match_sqlalchemy(engine, pred_sql, gold_sql):
    try:
        pred_res = pd.read_sql_query(pred_sql, engine)
    except Exception as e:
        print('Pred SQL error:', e)
        return 0
    try:
        gold_res = pd.read_sql_query(gold_sql, engine)
    except Exception as e:
        print('Gold SQL error:', e)
        return 0
    try:
        # Sort columns alphabetically
        pred_res_sorted = pred_res.reindex(sorted(pred_res.columns), axis=1)
        gold_res_sorted = gold_res.reindex(sorted(gold_res.columns), axis=1)
        # Sort rows by all columns
        pred_res_sorted = pred_res_sorted.sort_values(by=list(pred_res_sorted.columns)).reset_index(drop=True)
        gold_res_sorted = gold_res_sorted.sort_values(by=list(gold_res_sorted.columns)).reset_index(drop=True)
        # First, try strict match
        if pred_res_sorted.equals(gold_res_sorted):
            return 1
        # If not, check if values match regardless of column names
        if pred_res_sorted.shape == gold_res_sorted.shape:
            if (pred_res_sorted.values == gold_res_sorted.values).all():
                print('Column names differ but values match. Marking as match.')
                return 1
        # Otherwise, print the outputs
        print('No match!')
        print('Predicted Output:')
        print(pred_res_sorted)
        print('Gold Output:')
        print(gold_res_sorted)
        return 0
    except Exception as e:
        # Fallback to set comparison if sorting fails
        match = int(pred_res.equals(gold_res))
        if not match:
            print('No match! (fallback)')
            print('Predicted Output:')
            print(pred_res)
            print('Gold Output:')
            print(gold_res)
        return match
exec_matches = []
for gold, pred in zip(gold_examples, generated_examples):
    gold_sql = gold.get('query') or gold.get('gold_sql')
    pred_sql = pred.get('query') or pred.get('predicted_sql')
    try:
        match = exec_match_sqlalchemy(db_engine, pred_sql, gold_sql)
    except Exception as e:
        print(f'Error comparing queries: {e}')
        match = 0
    exec_matches.append(match)

execution_accuracy = sum(exec_matches) / len(exec_matches)
print(f"Execution Accuracy: {execution_accuracy*100:.2f}%")

No match!
Predicted Output:
    instance_count  instance_type
0                2    g5.48xlarge
1                7     p3.8xlarge
2                8     g4dn.metal
3                9   g4dn.4xlarge
4               14  g4dn.12xlarge
5               17  g4dn.16xlarge
6               17     m5.4xlarge
7               37   g4dn.2xlarge
8               37   g4dn.8xlarge
9               37    g4dn.xlarge
10              37    g5.16xlarge
11              37    g5.24xlarge
12              37     g5.2xlarge
13              37     g5.8xlarge
14              37  inf2.24xlarge
15              37    m5.12xlarge
16              37     p3.2xlarge
17              38    m5.16xlarge
18              39     m5.8xlarge
19              39     r5.8xlarge
20              56      g5.xlarge
21              74     c5.2xlarge
22              74    r5.12xlarge
23              74    r5.16xlarge
24              74    r5.24xlarge
25              74       t2.large
26              75    c5.24xlarge
27              83       m5.large
28             111      c5.xlarge
29             111   r6i.24xlarge
30             133      m5.xlarge
31             140       t2.micro
32             147  p5en.48xlarge
33             148       c5.large
34             148     m5.2xlarge
35             185     g5.4xlarge
36             186     c5.9xlarge
37             222    c5.12xlarge
38             244    c5.18xlarge
39             282     c5.4xlarge
40             285  p4de.24xlarge
41             296    g5.12xlarge
42             338    p5.48xlarge
43             488   p4d.24xlarge
Gold Output:
   count   instancetype
0      1   r5dn.8xlarge
1      4   g6e.12xlarge
2      5   r6i.24xlarge
3     12   c6i.24xlarge
4     31   c5d.24xlarge
5     53    c5.18xlarge
6     80  p5en.48xlarge
7    265   p4d.24xlarge
8    849    p5.48xlarge
9   1560  p4de.24xlarge
Execution Accuracy: 87.50%

## Valid Efficiency Score (VES)

$$
VES = \frac{\sum_{i=1}^{N}\mathbb{I}(V_{i}=\hat{V}_{i})\cdot R(Y_{i},\hat{Y}_{i})}{N}, \quad R(Y_{i},\hat{Y}_{i})=\sqrt{\frac{E(Y_{i})}{E(\hat{Y}_{i})}}
$$

Where:
* $N$: The total number of examples (natural language questions) in the dataset.
* $\mathbb{I}(V_{i}=\hat{V}_{i})$: An indicator function that equals 1 if the executed results of the predicted SQL query ($\hat{V}_{i}$) exactly match the executed results of the ground-truth SQL query ($V_{i}$) for the $i$-th example, and 0 otherwise.
* $R(Y_{i},\hat{Y}_{i})$: The relative execution efficiency, calculated as the square root of the ratio of the execution time of the ground-truth SQL query ($E(Y_{i})$) to the execution time of the predicted SQL query ($E(\hat{Y}_{i})$).
* $Y_i$: The ground-truth SQL query for the $i$-th example.
* $\hat{Y}_i$: The predicted SQL query for the $i$-th example.
* $E(\cdot)$: A function that represents the execution time of an SQL query on the database.

In [6]:
import time
import numpy as np

def measure_execution_time(engine, sql):
    start = time.time()
    try:
        _ = pd.read_sql_query(sql, engine)
    except Exception:
        return None  # If query fails, return None
    return time.time() - start

def exec_match_and_efficiency(engine, pred_sql, gold_sql):
    # Run and compare outputs (order/column-insensitive)
    try:
        pred_res = pd.read_sql_query(pred_sql, engine)
        gold_res = pd.read_sql_query(gold_sql, engine)
    except Exception:
        return 0, None  # Not valid, no efficiency score

    # Sort columns and rows for comparison
    pred_res_sorted = pred_res.reindex(sorted(pred_res.columns), axis=1)
    gold_res_sorted = gold_res.reindex(sorted(gold_res.columns), axis=1)
    pred_res_sorted = pred_res_sorted.sort_values(by=list(pred_res_sorted.columns)).reset_index(drop=True)
    gold_res_sorted = gold_res_sorted.sort_values(by=list(gold_res_sorted.columns)).reset_index(drop=True)

    # Check for match (including value-only match)
    is_match = False
    if pred_res_sorted.equals(gold_res_sorted):
        is_match = True
    elif pred_res_sorted.shape == gold_res_sorted.shape and (pred_res_sorted.values == gold_res_sorted.values).all():
        is_match = True

    if not is_match:
        return 0, None

    # Measure execution times
    gold_time = measure_execution_time(engine, gold_sql)
    pred_time = measure_execution_time(engine, pred_sql)
    if gold_time is None or pred_time is None or pred_time == 0:
        return 1, 0  # Valid match, but can't compute efficiency

    # Compute efficiency ratio
    R = np.sqrt(gold_time / pred_time)
    return 1, R

def valid_efficiency_score(engine, gold_examples, pred_examples):
    N = len(gold_examples)
    valid_count = 0
    R_sum = 0
    for gold, pred in zip(gold_examples, pred_examples):
        gold_sql = gold.get('query') or gold.get('gold_sql')
        pred_sql = pred.get('query') or pred.get('predicted_sql')
        match, R = exec_match_and_efficiency(engine, pred_sql, gold_sql)
        if match:
            valid_count += 1
            if R is not None:
                R_sum += R
    VES = R_sum / N
    print(f"Valid Efficiency Score (VES): {VES:.4f}")
    return VES

In [7]:
with open('gold_sql.json', 'r') as f:
    gold_examples = json.load(f)
with open('generated_queries_XIYAN_SQL.json', 'r') as f:
    pred_examples = json.load(f)

valid_efficiency_score(db_engine, gold_examples, pred_examples)

Valid Efficiency Score (VES): 0.5471

np.float64(0.5470548249747256)

# Content Matching Based

## Set (Token-Jaccard) Match

$$
J(Q_{gold}, Q_{pred}) = \frac{|Tokens(Q_{gold}) \cap Tokens(Q_{pred})|}{|Tokens(Q_{gold}) \cup Tokens(Q_{pred})|}
$$

Where:
* $Q_{gold}$: The ground-truth SQL query.
* $Q_{pred}$: The predicted SQL query.
* $Tokens(Q)$: The set of unique tokens extracted from an SQL query $Q$.
* $\cap$: Represents the intersection of two sets (tokens common to both queries).
* $\cup$: Represents the union of two sets (all unique tokens from both queries combined).
* $| \cdot |$: Denotes the cardinality (number of elements) of a set.

In [8]:
import re
from typing import List, Dict, Tuple
from statistics import mean

CLAUSES = ["select", "from", "where", "group by", "having", "order by", "limit"]

def normalize_sql(sql: str) -> str:
    """Lowercase, strip trailing semicolon, collapse whitespace."""
    s = sql.strip().rstrip(";")
    s = re.sub(r"\s+", " ", s)
    return s.lower()

def tokenize(sql: str) -> List[str]:
    """Very simple SQL tokenizer."""
    return re.findall(r"\w+|\S", sql.lower())

def extract_clause_body(sql: str, clause: str) -> str:
    """
    Return the body of a clause (e.g. everything after 'where' up to the next clause).
    If clause not in sql, returns empty string.
    """
    sql_l = sql.lower()
    pat = (
        rf"{clause}\s+(.+?)(?="
        + r"|".join(rf"\b{c}\b" for c in CLAUSES if c != clause)
        + r"|$)"
    )
    m = re.search(pat, sql_l, flags=re.DOTALL)
    return m.group(1).strip() if m else ""

def compute_EM(gold: str, pred: str) -> int:
    """Exact match (normalized)."""
    return int(normalize_sql(gold) == normalize_sql(pred))

def compute_SM(gold: str, pred: str) -> float:
    """Set (token-Jaccard) match."""
    tg = set(tokenize(normalize_sql(gold)))
    tp = set(tokenize(normalize_sql(pred)))
    if not tg and not tp:
        return 1.0
    return len(tg & tp) / len(tg | tp)

def compute_CM(gold: str, pred: str) -> float:
    """
    Fraction of gold clauses (that appear in the gold SQL)
    whose token‐sets exactly match in pred SQL.
    """
    norm_g = normalize_sql(gold)
    norm_p = normalize_sql(pred)
    matches = 0
    total = 0
    for c in CLAUSES:
        body_g = extract_clause_body(norm_g, c)
        if not body_g:
            continue
        total += 1
        body_p = extract_clause_body(norm_p, c)
        if set(tokenize(body_g)) == set(tokenize(body_p)):
            matches += 1
    return matches / total if total else 1.0

def evaluate_all(examples: List[Dict[str,str]]) -> Tuple[float,float,float]:
    """
    examples: list of dicts with keys 'gold_sql' and 'predicted_sql'
    Returns (EM_acc, CM_acc, SM_avg)
    """
    ems, cms, sms = [], [], []
    for ex in examples:
        gold = ex["gold_sql"]
        pred = ex["predicted_sql"]
        ems.append(compute_EM(gold, pred))
        cms.append(compute_CM(gold, pred))
        sms.append(compute_SM(gold, pred))
    return mean(ems), mean(cms), mean(sms)

In [9]:
import json

# Load gold and predicted SQLs
with open('gold_sql.json', 'r') as f:
    gold_examples = json.load(f)
with open('generated_queries_XIYAN_SQL.json', 'r') as f:
    pred_examples = json.load(f)

# Build the examples list for evaluation
examples = []
for gold, pred in zip(gold_examples, pred_examples):
    # Use the correct keys from your files
    gold_sql = gold.get('query') or gold.get('gold_sql')
    pred_sql = pred.get('query') or pred.get('predicted_sql')
    examples.append({
        "gold_sql": gold_sql,
        "predicted_sql": pred_sql
    })

# Now you can use your evaluate_all function
EM_acc, CM_acc, SM_avg = evaluate_all(examples)
print(f"Set (Token-Jaccard) Match:    {SM_avg*100:.2f}%")

Set (Token-Jaccard) Match:    71.25%

## Component Matching

1.  **Breaks down SQL queries into components:**
    * **SELECT columns:** What columns are being selected
    * **Tables:** Which tables are being queried (`FROM` clause)
    * **WHERE conditions:** Filter conditions applied
    * **GROUP BY columns:** Grouping specifications
    * **ORDER BY columns:** Sorting specifications
    * **Aggregations:** Functions like `MAX`, `MIN`, `COUNT`, `SUM`, `AVG`, `LOWER`, `UPPER`
    * **Keywords:** Special keywords like `LIMIT` and `DISTINCT`

2.  **Compares each component separately:**
    For each component, it calculates:
    * **Precision:** What percentage of predicted items are correct
    * **Recall:** What percentage of gold items were found
    * **F1 Score:** Harmonic mean of precision and recall

For each SQL component $c \in \{SELECT, FROM, WHERE, GROUP BY, ORDER BY, AGGREGATIONS, KEYWORDS\}$, we define:

### Component-wise Precision, Recall, and F1

Given predicted components $P_c$ and gold components $G_c$ for component type $c$:

$$\text{Precision}_c = \frac{|P_c \cap G_c|}{|P_c|}$$

$$\text{Recall}_c = \frac{|P_c \cap G_c|}{|G_c|}$$

$$\text{F1}_c = \frac{2 \times \text{Precision}_c \times \text{Recall}_c}{\text{Precision}_c + \text{Recall}_c}$$

### Overall Component Match Score

The overall Component Match score is calculated as the macro-average F1 score across all components:

$$\text{CM} = \frac{1}{|C|} \sum_{c \in C} \text{F1}_c$$

where $C = \{SELECT, FROM, WHERE, GROUP BY, ORDER BY, AGGREGATIONS, KEYWORDS\}$

In [10]:
from partial_component_matching import evaluate_all_partial_matches
if __name__ == "__main__":
    # Load your data
    with open('gold_sql.json', 'r') as f:
        gold_examples = json.load(f)
    
    # You can test with different generated query files
    generated_files = [
        'generated_queries_XIYAN_SQL.json',
        'generated_queries_SQL_Coder.json',
        'generated_queries_SQL_Coder_with_RAG.json',
        'generated_queries_XIYAN_SQL_0.json'
    ]
    
    for gen_file in generated_files:
        print(f"\n{'='*70}")
        print(f"Evaluating: {gen_file}")
        print('='*70)
        
        with open(gen_file, 'r') as f:
            pred_examples = json.load(f)
        
        # Evaluate partial matches
        partial_results = evaluate_all_partial_matches(gold_examples, pred_examples)
        
        # Print results
        print("\n==================== PARTIAL COMPONENT MATCHING ====================\n")
        print(f"{'Component':<15} {'Precision':<12} {'Recall':<12} {'F1':<12}")
        print("-" * 55)
        for component, scores in partial_results.items():
            print(f"{component:<15} {scores['precision']:<12.3f} {scores['recall']:<12.3f} {scores['f1']:<12.3f}")
        
        # Overall average
        overall_precision = mean([scores['precision'] for scores in partial_results.values()])
        overall_recall = mean([scores['recall'] for scores in partial_results.values()])
        overall_f1 = mean([scores['f1'] for scores in partial_results.values()])
        print("-" * 55)
        print(f"{'OVERALL':<15} {overall_precision:<12.3f} {overall_recall:<12.3f} {overall_f1:<12.3f}")

======================================================================
Evaluating: generated_queries_XIYAN_SQL.json
======================================================================

==================== PARTIAL COMPONENT MATCHING ====================

Component       Precision    Recall       F1
-------------------------------------------------------
select          0.125        0.125        0.125
tables          0.000        0.000        0.000
where           0.500        0.500        0.500
group_by        0.500        0.500        0.500
order_by        0.625        0.625        0.625
aggregations    1.000        0.938        0.958
keywords        0.875        0.875        0.875
-------------------------------------------------------
OVERALL         0.518        0.509        0.512

======================================================================
Evaluating: generated_queries_SQL_Coder.json
======================================================================

==================== PARTIAL COMPONENT MATCHING ====================

Component       Precision    Recall       F1
-------------------------------------------------------
select          0.375        0.375        0.375
tables          0.688        0.688        0.688
where           0.750        0.750        0.750
group_by        0.750        0.750        0.750
order_by        0.875        0.875        0.875
aggregations    1.000        1.000        1.000
keywords        0.750        0.750        0.750
-------------------------------------------------------
OVERALL         0.741        0.741        0.741

======================================================================
Evaluating: generated_queries_SQL_Coder_with_RAG.json
======================================================================

==================== PARTIAL COMPONENT MATCHING ====================

Component       Precision    Recall       F1
-------------------------------------------------------
select          0.875        0.875        0.875
tables          0.875        0.875        0.875
where           1.000        1.000        1.000
group_by        0.875        0.875        0.875
order_by        0.875        0.875        0.875
aggregations    1.000        1.000        1.000
keywords        1.000        1.000        1.000
-------------------------------------------------------
OVERALL         0.929        0.929        0.929

======================================================================
Evaluating: generated_queries_XIYAN_SQL_0.json
======================================================================

==================== PARTIAL COMPONENT MATCHING ====================

Component       Precision    Recall       F1
-------------------------------------------------------
select          0.250        0.250        0.250
tables          0.000        0.000        0.000
where           0.500        0.500        0.500
group_by        0.500        0.500        0.500
order_by        0.750        0.750        0.750
aggregations    1.000        0.938        0.958
keywords        1.000        1.000        1.000
-------------------------------------------------------
OVERALL         0.571        0.562        0.565

## Hardness based evaluation

In [11]:
from sql_hardness_classifier import SQLHardnessClassifier
from sql_hardness_classifier import classify_queries_from_json, print_hardness_distribution

if __name__ == "__main__":
    # Example usage
    classifier = SQLHardnessClassifier()
    
    # Test with your JSON files
    json_files = [
        'gold_sql.json',
    ]
    
    for json_file in json_files:
        try:
            print(f"\n\nAnalyzing: {json_file}")
            print("="*70)
            
            results = classify_queries_from_json(json_file)
            print_hardness_distribution(results)
            
        except FileNotFoundError:
            print(f"File {json_file} not found. Skipping...")

Analyzing: gold_sql.json
======================================================================

==================== HARDNESS DISTRIBUTION ====================
Total queries: 8

EASY         2 queries ( 25.0%)
MEDIUM       5 queries ( 62.5%)
HARD         0 queries (  0.0%)
EXTRA        1 queries ( 12.5%)

===============================================================

In [12]:
from hardness_performance_evaluator import HardnessPerformanceEvaluator

evaluator = HardnessPerformanceEvaluator(db_engine)
with open('generated_queries_SQL_Coder_with_RAG.json', 'r') as f:
    pred_examples = json.load(f)

results = evaluator.evaluate_by_hardness(gold_examples, pred_examples)
evaluator.print_performance_report(results, "SQL_Coder_with_RAG")

# Compare multiple models

============================================================
GOLD QUERY HARDNESS CLASSIFICATION
============================================================

------------------------------------------------------------
DISTRIBUTION SUMMARY:
EASY         2 queries ( 25.0%)
MEDIUM       5 queries ( 62.5%)
HARD         0 queries (  0.0%)
EXTRA        1 queries ( 12.5%)
------------------------------------------------------------

================================================================================
PERFORMANCE REPORT BY HARDNESS LEVEL: SQL_Coder_with_RAG
================================================================================

Hardness   Count    Exec Acc     Avg F1
--------------------------------------------------
easy       2        100.00%      100.00%
medium     5        80.00%       88.57%
extra      1        100.00%      100.00%
--------------------------------------------------
OVERALL    8        87.50%

================================================================================
DETAILED BREAKDOWN BY HARDNESS LEVEL
================================================================================

EASY QUERIES (n=2)
----------------------------------------

Partial Component Matching:
  Component       Precision  Recall     F1
  ---------------------------------------------
  select          100.00%    100.00%    100.00%
  tables          100.00%    100.00%    100.00%
  where           100.00%    100.00%    100.00%
  group_by        100.00%    100.00%    100.00%
  order_by        100.00%    100.00%    100.00%
  aggregations    100.00%    100.00%    100.00%
  keywords        100.00%    100.00%    100.00%

MEDIUM QUERIES (n=5)
----------------------------------------

Error Types:
  wrong_result           1 ( 20.0%)

Partial Component Matching:
  Component       Precision  Recall     F1
  ---------------------------------------------
  select          80.00%     80.00%     80.00%
  tables          80.00%     80.00%     80.00%
  where           100.00%    100.00%    100.00%
  group_by        80.00%     80.00%     80.00%
  order_by        80.00%     80.00%     80.00%
  aggregations    100.00%    100.00%    100.00%
  keywords        100.00%    100.00%    100.00%

EXTRA QUERIES (n=1)
----------------------------------------

Partial Component Matching:
  Component       Precision  Recall     F1
  ---------------------------------------------
  select          100.00%    100.00%    100.00%
  tables          100.00%    100.00%    100.00%
  where           100.00%    100.00%    100.00%
  group_by        100.00%    100.00%    100.00%
  order_by        100.00%    100.00%    100.00%
  aggregations    100.00%    100.00%    100.00%
  keywords        100.00%    100.00%    100.00%

In [13]:
model_files = {
    'XIYAN_SQL': 'generated_queries_XIYAN_SQL.json',
    'SQL_Coder': 'generated_queries_SQL_Coder.json',
    'SQL_Coder_with_RAG': 'generated_queries_SQL_Coder_with_RAG.json'
}
all_results = evaluator.compare_models('gold_sql.json', model_files)

====================================================================================================
MODEL COMPARISON BY HARDNESS LEVEL
====================================================================================================

EXECUTION ACCURACY:
Model                          Easy         Medium       Hard         Extra        Overall
------------------------------------------------------------------------------------------
XIYAN_SQL                     50.00%      60.00%      N/A         0.00%       50.00%
SQL_Coder                     100.00%     40.00%      N/A         0.00%       50.00%
SQL_Coder_with_RAG            100.00%     80.00%      N/A         100.00%     87.50%

In [20]:
from additional_eval_metrics import evaluate_keyword_presence

# Evaluate keywords for all queries in your files
keyword_results = evaluate_keyword_presence('gold_sql.json', 'generated_queries_XIYAN_SQL.json')
print(keyword_results)

{'where': 1.0, 'group': 1.0, 'having': 1.0, 'order': 1.0, 'limit': 1.0, 'distinct': 1.0, 'join': 1.0, 'left_join': 1.0, 'right_join': 1.0, 'inner_join': 1.0, 'not': 1.0, 'in': 1.0, 'like': 1.0, 'between': 1.0, 'exists': 1.0}